//- Esclamation mark (e.g. span!= body) means "unescaped content"
mixin news(date, title, body)
	.margin-top-l.padding-top-s
		h3.description!= title
		p
		|
		span.pull-left.margin-right-s.red= `${date} ― `
		|
		span!= body