extends base

block metas-vars
	- var title = '404 - '

block content
	h1 404: such an epic fail.

	p We are very sorry, this page does not exist. But you always could:
	ul
		li.
			return to the #[a(href='index') index page]
		li.
			explore our #[a(href='https://github.com/monocasual/giada/discussions') official forum]
		li.
			fork the project on #[a(href='https://github.com/monocasual/giada') GitHub]
