extends base

block metas-vars
	- var title       = 'Cookies Policy - '
	- var description = ', Cookies Policy'
	- var keywords    = ', Cookies Policy'

block content
	.container
		.row.margin-top-xl
			.col-md-12.text-center
				h1 Cookies policy.
		#documentation.row.margin-top-xl
			.col-md-12
				h2 Use of cookies
				p
					| The &quot;Site&quot; (giadamusic.com) uses cookies to make our services simple and efficient for users who view pages giadamusic.com. Users viewing the site, will fill the minimal amounts of information in your devices, which are computers and mobile devices, in small text files called &quot;cookies&quot; stored in the directories used by the Web Browser User. There are several types of cookies, some to make more effective use of the Site, other to enable certain functionality.
				p Analyzing in detail our cookies allow you to:
				ul
					li
						p store preferences included;
					li
						p
							| avoid re-enter the same information several times during the visit such as user name and password;
					li
						p
							| analyze the use of the services and content provided by giadamusic.com to optimize the browsingexperience and services offered.
				h2 Types of cookies
				h3 Technical Cookie
				p
					| This type of cookie allows the proper operation of certain sections of the site. There are two categories: persistent and session.
				p
					strong Persistent:
					|  once closed the browser are not destroyed but remain up to a preset expiration date
				p
					strong Session:
					|  they are destroyed every time the browser is closed.
				p
					| These cookies, always sent from our domain, are required to view the site and in relation to technical services offered, we will be increasingly used and then sent, unless the user does not change the settings in your browser (thus affecting the display of site pages).
				h3 Analytical cookies
				p
					| Cookies in this category are used to collect information about the site. Giadamusic.com will use this information in respect of anonymous statistical analysis to improve the use of the Site and to make the content more interesting and relevant to the wishes of users. This type of cookie collects anonymous data on the activity of users and as it came on the Site. The analytical cookies are sent from the same site or from third-party domains.
				h3 Cookie analysis of third-party services
				p
					| These cookies are used to collect information on the use of the Site by users in anonymous form such as page views, time spent, traffic sources of origin, geographic origin, age, gender and interests for the purposes of marketing campaigns . These cookies are sent from third-party domains external to the Site.
				h3 Cookies to integrate products and functions of third-party software
				p
					| This type of cookie incorporates features developed by third parties within the pages of the Site as icons and preferences expressed in social networks in order to share the contents of the site or for the use of services, third-party software (such as software generate maps and additional software that offer additional services). These cookies are sent from third-party domains and partner sites that offer their functionality in the pages of the Site.
				h3 Profiling Cookies
				p
					| Those cookies are needed to create user profiles in order to send advertising messages in line with the preferences expressed by the user within the pages of the Site.
				p
					| Giadamusic.com, according to current legislation, it is not required to seek consent for cookies and technical analytics, as necessary to provide the required services.
				p
					| For all other types of cookies consent you may be expressed by the user with one or more of the following modes:
				ul
					li
						p
							| By specific configurations of the browser or its programs used to navigate pages that make up the site.
					li
						p By changing settings in the use of third-party services
					li
						p
							| Both of these solutions might prevent you from using or view parts of the Website.
				h3 Web sites and third-party services
				p
					| The Site may contain links to other Web sites that have their own privacy policy which can be different from the one adopted by giadamusic.com and therefore not responsible for these sites.
				h2 Cookie list
				table.table
					thead
						tr
							th Cookie
							th Domain
							th Third party cookie
							th Permanent cookie
							th Session cookie
					tbody
						tr
							td
								code id
							td .doubleclick.net
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code _drt_
							td .doubleclick.net
							td
								code Third party cookie
							td
							td
								code Session cookie
						tr
							td
								code lang
							td cdn.syndication.twimg.com
							td
								code Third party cookie
							td
							td
								code Session cookie
						tr
							td
								code PHPSESSID
							td .flattr.com
							td
								code Third party cookie
							td
							td
								code Session cookie
						tr
							td
								code GEUP
							td .youtube.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code GPS
							td .youtube.com
							td
								code Third party cookie
							td
							td
								code Session cookie
						tr
							td
								code PREF
							td .youtube.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code NID
							td .google.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code __cfduid
							td .flattr.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code PYPF
							td .paypalobjects.com
							td
								code Third party cookie
							td
							td
								code Session cookie
						tr
							td
								code VISITOR_INFO1_LIVE
							td .youtube.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code YSC
							td .youtube.com
							td
								code Third party cookie
							td
								code Permanent cookie
							td
						tr
							td
								code _gat
							td .giadamusic.com
							td
							td
							td
								code Session cookie
						tr
							td
								code _ga
							td .giadamusic.com
							td
							td
								code Permanent cookie
							td
