extends base

block metas-vars
	- var title       = 'Features - '
	- var description = ' Features'
	- var keywords    = ', features'

block content
	.container
		.row.margin-top-xl
			.col-md-12.text-center
				h1 A list of astonishing features.
		.row
			.col-md-10.col-md-offset-1
				.feature.left
					img(src='images/icon-cog.svg' alt='*')
					h2.margin-top-xl.description Ultra-lightweight internal design
					p
						| Giada is designed to be a fast and reliable audio tool, focused on productivity. Super-sleek interface and 100% exotic dependencies free. Based on few external libraries, you can save it into a floppy disk.
				.feature.right
					img(src='images/icon-grid.svg' alt='*')
					h2.margin-top-xl.description 32 bit floating point sample-accurate audio engine
					p
						| All samples are internally converted and managed to provide hi-definition audio mixing, with ALSA, JACK, CoreAudio, ASIO and DirectSound full support. Thanks to its precise sample-based calculations, Giada can run for hours without losing a bpm.
				.feature.left
					img(src='images/icon-sheets.svg' alt='*')
					h2.margin-top-xl.description Multi-thread/multi-core support
					p
						| The audio stuff runs in a separate process, while the interface is at your command. In this way the music never stops, even during the heaviest processing.
				.feature.right
					img(src='images/icon-mixer.svg' alt='*')
					h2.margin-top-xl.description Unlimited number of channels with different playback modes and combinations
					p
						| Manage loops and events; play samples; mute and stop channels; launch single-shot samples with a key press; compose your song with layered loops, actions or takes from the external world. Use Giada as a live drum machine or yet process live any input and redirect it to the speakers: everything through your computer keyboard.
				.feature.left
					img(src='images/icon-note.svg' alt='*')
					h2.margin-top-xl.description MIDI I/O, VST/VSTi plugin support
					p
						| Control Giada through your favorite hardware devices, or let it drive any other thing (physical or logical) that can read MIDI messages, with support for custom 
						a(href='https://github.com/monocasual/giada-midimaps') MIDI lightning messages
						| . Use all of your favorite VST effects and VST instruments, transforming Giada into a native VST host, also suitable for live processing. Plugin support for Linux, Windows and macOS, of course.
				.feature.right
					img(src='images/icon-edit.svg' alt='*')
					h2.margin-top-xl.description Live sampler from external inputs, built-in Wave Editor
					p
						| Record samples from the real world with automatic channel selection and input delay compensation. Then cut, trim, silence, normalize and pitch your takes via the minimal yet very tasty integrated editor. The core engine is powered by Libsamplerate, providing a state-of-the-art resampling quality.
				.feature.left
					img(src='images/icon-remote.svg' alt='*')
					h2.margin-top-xl.description Action Recorder + Action Editor + Live Quantizer = total control
					p
						| Record live your performance or craft it carefully via the Action Editor, possibly building the structure of the song from scratch. Finally, align the samples on exact fractions of beats to gain an ultra-precise live performance, thanks to the integrated Live Quantizer.
				.feature.right
					img(src='images/icon-db.svg' alt='*')
					h2.margin-top-xl.description Patch-based system with support for all major uncompressed file formats
					p
						| Giada handles any uncompressed audio format, such as .wav, .aiff and many others. All your sounds and actions can be safely stored into small and compact open source files.
				.feature.left
					img(src='images/icon-heart-big.svg' alt='*')
					h2.margin-top-xl.description 100% open-source GPL stuff, in a constant stage of development
					p
						| Giada keeps growing every day, free for use and distribution: you can use it without any limitations. Help us to improve it more! Feel free to submit your ideas or any bug found to our 
						a(href='http://www.giadamusic.com/forum') forum
						| , or join us on 
						a(href='https://github.com/monocasual/giada') GitHub
						| .
