extends base

include mixins/media

block metas-vars
	- var title       = 'Tutorials and media - '
	- var description = ', media collection, tutorials'
	- var keywords    = ', media, video, audio, tutorials'

block content
	section.media
		h1.
			Tutorials &amp; media<br>Seeing (and listening) is believing.

		div.group
			h2 One-page tutorials.

			div
				+tutorial("#002: free loop-length audio recording", "Using Giada as a live looping machine without BPM constraints.", "/tutorial-002-free-loop-length-recording")
				+tutorial("#001: play samples with your keyboard", "How to use Giada as a sample player by loading samples into channels and binding keyboard buttons to them.", "/tutorial-001-play-samples-keyboard")

		div.group
			h2 Official video tutorials.

			div.container
				+media_video("Giada tutorial #4 a - The Sample Editor, part 1", "Our buddy Bartholomew Davenport is back with another smashing Giada tutorial. This time he will introduce us to the voodoo universe of the Sample Editor: the tool used to edit audio samples, loops and sound effects.", "https://www.youtube.com/watch?v=AUdPeWlScLI&index=4&list=PLWvg8ZoDDJR267zqagsUe8sWFb0M-81XO", "https://img.youtube.com/vi/AUdPeWlScLI/maxresdefault.jpg")
				+media_video("Giada tutorial #5 - Audio recording and looping", "Say hello to Bartholomew Davenport, our new digital friend who will guide us through the art of audio recording with Giada. In this episode you will learn how to create a live, loop-based performance with physical instruments and a couple of sample channels.", "https://www.youtube.com/watch?v=L66CA1Umk4w&list=PLWvg8ZoDDJR267zqagsUe8sWFb0M-81XO&index=5", "https://img.youtube.com/vi/L66CA1Umk4w/maxresdefault.jpg")
				+media_video("Giada tutorial #3 - The action editor", "This time Richard P. Aspromonte will guide us through the perils of the legendary Action Editor, a tool used for editing actions. He will eventually lay down some 80s/90s hip hop beats using samples from the glorious \"The Bridge\" by MC Shan.", "https://www.youtube.com/watch?v=UN7Uq9Kahqw&index=11&list=PLWvg8ZoDDJR267zqagsUe8sWFb0M-81XO", "https://img.youtube.com/vi/UN7Uq9Kahqw/maxresdefault.jpg")
						
			div.more
				a(href='https://www.youtube.com/playlist?list=PLWvg8ZoDDJR267zqagsUe8sWFb0M-81XO') &#x2794; Watch all episodes
		
		div.group
			h2 Demo projects.
		
			div.container
				+media_video("Giada Loop Machine demo #7 - Altered State", "Another lo-fi house beat live-recorded with Giada Loop Machine version 0.19. Music by <a href=\"https://www.youtube.com/user/toblerOrchestra\">TBLR</a>, visuals by <a href=\"https://www.instagram.com/billybigger/\">Carlo Alberto Barberi (GRDN)</a>.", "https://www.youtube.com/watch?v=ws4FnpXVglY", "https://img.youtube.com/vi/ws4FnpXVglY/hqdefault.jpg")
				+media_video("Giada Loop Machine demo #6 - Coraggio", "Lo-fi house experiment live-recorded with Giada Loop Machine version 0.18.1. Music by <a href=\"https://www.youtube.com/user/toblerOrchestra\">TBLR</a>, visuals by <a href=\"https://www.instagram.com/kikimoredesign/\">Kikimoredesign</a>.", "https://www.youtube.com/watch?v=BZyOuaRkY-c", "https://img.youtube.com/vi/BZyOuaRkY-c/hqdefault.jpg")
				+media_video("Giada Loop Machine demo #5 - Slow Winter", "Quick loop made with Giada 0.17.1 (development version) and our new AKAI MPD218. What you see here is Giada fully controlled with a MIDI device... except for the 'solo' button at 00:36 :D", "https://www.youtube.com/watch?v=H8Sfsx5X5w4", "https://img.youtube.com/vi/H8Sfsx5X5w4/hqdefault.jpg")
				
			div.more
				a(href='https://www.youtube.com/playlist?list=PLWvg8ZoDDJR02wx8nwwurd_ceqK8bbW2I') &#x2794; Watch all demos

		div.group
			h2 Feature testing.
		
			div.container
				+media_video("Testing Giada #5 - changing audio devices on the fly", "Giada version 0.25 adds the ability to change audio and MIDI engines on the fly — no need to restart the whole app anymore when the audio and/or MIDI devices change. No need to restart also when changing several properties in the Configuration Window. Let's try it out!", "https://www.youtube.com/shorts/WgWSKObgGS0", "http://img.youtube.com/vi/WgWSKObgGS0/maxresdefault.jpg")
				+media_video("Testing Giada #4 - finger drumming", "Practicing stuff with some sample channels loaded with Roland TR-808 sounds. Hardware: AKAI MPD-218.", "https://youtu.be/HEVc_8Y_k1s&list=PLWvg8ZoDDJR1y2oJre2LshwYqS9ieBiAn", "http://img.youtube.com/vi/HEVc_8Y_k1s/maxresdefault.jpg")
				+media_video("Testing Giada #3 - revamped MIDI learning algorithm", "Testing the revamped MIDI learn algorithm and UI components... it works!", "https://www.youtube.com/watch?v=e2oYOK8IPZg&list=PLWvg8ZoDDJR1y2oJre2LshwYqS9ieBiAn", "http://img.youtube.com/vi/e2oYOK8IPZg/maxresdefault.jpg")

			div.more
				a(href='https://www.youtube.com/playlist?list=PLWvg8ZoDDJR1y2oJre2LshwYqS9ieBiAn') &#x2794; Watch all testing
		