extends base

include mixins/news

block metas-vars
	- var title       = 'News archive - '
	- var description = ', news archive'
	- var keywords    = ', news archive'

block content
	.container
		.row.margin-top-xl
			.col-md-12.text-center
				h1 News archive.
		.row
			.col-md-10.col-md-offset-1
				each news in NEWS
					+news(news.date, news.title, news.body)
