extends base

block scripts
	script(src=`js/patch-converter.js`)

block content
	.container.glm-patch-converter

		//- Intro

		.row.margin-top-xl
			.col-md-12
				h1.text-center The almighty Patch Converter.
				h2.margin-top-xl.description.text-center Convert your old patch/project files to make it work again with Giada 0.16.0 and later. 
		
		.row.margin-top-xl
			.col-md-12
				h2.text-center Instructions
				ol
					li
						p
						| Locate your patch file (#[code .gptc] file) in your file system and open it with a text editor. For projects (i.e. #[code .gprj] folders), browse inside the folder first, locate the #[code .gptc] file and then open it with the editor;
					li
						p
						| copy the file content from your text editor into the first text area below;
					li
						p
						| press the big red "convert it!" button;
					li
						p
						| copy the output from the second text area and paste it back into your text editor. Save and close the file;
					li
						p
						| your patch/project is now updated and ready for Giada 0.16.0 (and later). Enjoy!

		.row.margin-top-xl
			textarea(placeholder="Paste here your patch file content." class="input")

		.row.margin-top-xl
			.col-md-12
				a(href='#' class="convert")
					input.download-btn.btn.btn-default.center-block(type='button' value='Convert it!')

		.row.margin-top-xl
			textarea(class="output")
