extends base

block metas-vars
	- var title       = 'Press - '
	- var description = ', press'
	- var keywords    = ', press'

block content
	.container
		.row.margin-top-xl
			.col-md-12.text-center
				h1 Spread the word.
		#documentation.row.margin-top-xl
			.col-md-10.col-md-offset-1
				p
					| Giada is a free, minimal, hardcore audio tool for DJs, live performers and electronic musicians. How does it work? Just pick up your channel, fill it with samples or MIDI events and start the show by using this tiny piece of software as a loop machine, drum machine, sequencer, live sampler or yet as a plugin/effect host. Giada aims to be a compact and portable virtual device for Linux, Mac and Windows for production use and live sets.
				p
					| Carefully crafted by the almighty 
					a(href='https://www.monocasual.com') Monocasual Laboratories
					|, Giada provides several workflows that make it a container of multiple devices. A sample player, where sounds and beats are triggered on the fly; a traditional loop machine, powered by multiple channels; a song composer, thanks to the action-oriented approach and the action editor; a live sampler or yet a plugin processor/host, with VST support and MIDI I/O routing.
				p
					| Giada is actively developed on GitHub where many friends/collaborators push changes and suggest ideas, as well as on the official forum (for non-techies). It's also available in the main Linux distributions repositories like Debian, Ubuntu, Arch Linux and many more. Free for use and distribution under the GPL v3 license. 100% palm oil and gluten free.
				h2 Press review
				ul
					li
						p
							| Linux Magazine - 
							a(href='http://www.linux-magazine.com/Online/Features/Processing-Loops-and-More-with-Giada') Processing Loops and More with Giada
					li
						p
							| MusicRadar, December 26, 2015 - 
							a(href='http://www.musicradar.com/tuition/tech/20-great-free-and-open-source-music-making-programs-582934') 20 great free and open source music making programs
					li
						p
							| Libre Music Production, April 7, 2015 - 
							a(href='http://libremusicproduction.com/articles/lmp-asks-7-interview-giovanni-zuliani')
								| LMP Asks #7: An interview with Giovanni A. Zuliani [member of Monocasual Laboratories]
				h2 Artworks
				ul
					li
						p
							a(href='images/press/giada-logotype.svg') Giada logotype, SVG
					li
						p
							a(href='images/press/giada-logo.svg') Giada logo, SVG
					li
						p
							a(href='images/press/giada-screenshot.png') Reference screenshot, PNG
				h2 Social profiles
				ul
					li
						p
							a(href='https://github.com/monocasual/giada') Giada on GitHub
					li
						p
							a(href='https://www.facebook.com/GiadaYourHardcoreLoopmachine') Giada on Facebook
					li
						p
							a(href='https://giadamusic.com/img/social-icons-youtube.png') Giada on YouTube
					li
						p
							a(href='https://twitter.com/GiadaLooper') Giada on Twitter
				h2 Contacts
				p
					| Please contact us at 
					a(href='mailto:giadaloopmachine@gmail.com') giadaloopmachine@gmail.com
					|  for information, interviews, additional press kits.
