extends base

block metas-vars
	- var title = 'Screenshots - '

block content
	.container.screenshot
		.row.margin-top-xl
			.col-md-12.text-center
				h1 A screenshot is worth a thousand words.
		.row.margin-top-xl
			.col-md-8.col-md-offset-2
				div
					p
						img.img-responsive(src='images/screenshots/giada-loop-machine-screenshot-17-midi-action-editor.png' alt='Giada 0.15.2: MIDI action editor')
					p
						| Giada 0.15.2 ― New Action Editor for MIDI events, featuring the Piano roll (top) and the Velocity widget (bottom). 

				.margin-top-xl.padding-top-xl.line-top

					p
						img.img-responsive(src='images/screenshots/giada-loop-machine-screenshot-03-large-project.png' alt='Giada 0.14.2: working on a fairly large project')
					p
						| Giada 0.14.2 ― A fairly large project with samples and MIDI events.

				.margin-top-xl.padding-top-xl.line-top

					p
						img.img-responsive(src='images/screenshots/giada-loop-machine-screenshot-01-sample-editor.png' alt='Giada 0.14.2: Chopping samples with the advanced Sample Editor')
					p
						| Giada 0.14.2 ― Chopping samples in the advanced Sample Editor.

				.margin-top-xl.padding-top-xl.line-top

					p
						img.img-responsive(src='images/screenshots/giada-loop-machine-screenshot-02-vst-support.png' alt='Giada 0.14.2: churning out some fat pads with Loomer Aspect')
					p
						| Giada 0.14.2 ― Churning out some fat pads with 
						a(href='http://www.loomer.co.uk/aspect.htm' title='Loomer Aspect - Semi-Modular Analogue Synth VST, RTAS, and Audio Unit') Loomer Aspect
						| .
				
				.margin-top-xl.padding-top-xl.line-top

					p
						img.img-responsive(src='images/screenshots/giada-loop-machine-screenshot-04-edit-sample.png' alt='Giada 0.14.2: a sample being edited')
					p
						| Giada 0.14.2 ― A sample being edited in the Sample Editor (top), Action Editor (bottom) and the plugins list (left).
