*.swp
*.phtml.php
giada.php.tags
node_modules
/.htaccess
/forum/*
/forum/styles/prosilver
!/forum/styles/
!/forum/styles/giada
/admin
/public/js/main-*
/public/css/main-*
/public/phpliteadmin
/data/db/giada.sqlite
/data/cache/*
/data/dist/*
