
# ----------------------------------------------------------------------
# enable rewrite engine with RewriteBase. Change this in production!
# ----------------------------------------------------------------------
RewriteEngine on
RewriteBase /giada


# ----------------------------------------------------------------------
# pages that don't exist anymore
# ----------------------------------------------------------------------
RewriteRule ^documentation-(.+)/?$ documentation [R=301,NC,L]
RewriteRule ^screenshot-[0-9]+/?$  screenshots   [R=301,NC,L]


# ----------------------------------------------------------------------
# phalcon main redirect (only if != 'admin)
# ----------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !^/admin  [NC]
RewriteRule  (.*) public/$1     [L]
