# ------------------------------------------------------------------------------
# Clickjacking protection: nobody can put the site inside an iframe.
# ------------------------------------------------------------------------------
Header set X-Frame-Options DENY


# ------------------------------------------------------------------------------
# enable rewrite engine with RewriteBase.
# ------------------------------------------------------------------------------
RewriteEngine on
RewriteBase /giada


# ------------------------------------------------------------------------------
# pages that don't exist anymore
# ------------------------------------------------------------------------------
RewriteRule ^documentation-(.+)/?$ documentation [R=301,NC,L]
RewriteRule ^screenshot-[0-9]+/?$  screenshots   [R=301,NC,L]


# ------------------------------------------------------------------------------
# New PHPBB forum has no fancy urls. Redirect old static urls to dynamic ones.
# It requires to bypass phpBB's forum/.htaccess completely (just remove it). 
# ------------------------------------------------------------------------------
RewriteRule ^forum/(.*?)\-t([0-9]+)\.html/?$ /giada/forum/viewtopic.php?t=$2 [R=301,NC,L]
RewriteRule ^forum/(.*?)\-f([0-9]+)\.html/?$ /giada/forum/viewforum.php?f=$2 [R=301,NC,L]


# ------------------------------------------------------------------------------
# phalcon main redirect (only if != 'admin' and 'forum')
# ------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !^/giada/admin  [NC]
RewriteCond %{REQUEST_URI} !^/giada/forum  [NC]
RewriteRule (.*) public/$1               [L]
