.share-button.facebook
  a(target='_blank' href=`https://www.facebook.com/sharer/sharer.php?u=${CONSTANTS.url}`)
    img(src='images/social-icon-facebook.svg' alt='Facebook' title='Share Giada on Facebook')
