- var urlEnc = encodeURI(CONSTANTS.url)

.share-button.google
  a(target='_blank' href=`https://plus.google.com/share?url=${urlEnc}`)
    img(src='images/social-icon-google.svg' alt='Google+' title='Share Giada on Google+')
