- var titleEnc = encodeURI(CONSTANTS.title)
- var urlEnc   = encodeURI(CONSTANTS.url)

.share-button.reddit
  a(target='_blank' href=`http://www.reddit.com/submit?url=${urlEnc}&title=${titleEnc}`)
    img(src='images/social-icon-reddit.svg' alt='reddit' title='Share Giada on Reddit')
