body {
	background-color: #D7D2BF;
	line-height: 1.7;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 28px;
}

a {
	color: #D0451B;
	border-bottom: 1px dotted #D0451B;
	text-decoration: none;
}

a.imagelink { border-bottom: none; }
a:hover     { text-decoration: none; }

/* -------------------------------------------------------------------------- */

.margin-top-s   { margin-top: 10px; }
.margin-top-m   { margin-top: 20px; }
.margin-top-l   { margin-top: 30px; }
.margin-top-xl  { margin-top: 50px; }
.margin-top-xxl { margin-top: 80px; }
.margin-right-s { margin-right: 10px; }
.margin-right-m { margin-right: 20px; }
.margin-right-l { margin-right: 30px; }
.margin-left-s  { margin-left: 10px; }
.margin-left-m  { margin-left: 20px; }
.margin-left-l  { margin-left: 30px; }
.margin-btm-s   { margin-bottom: 10px; }
.margin-btm-m   { margin-bottom: 20px; }
.margin-btm-l   { margin-bottom: 30px; }

.padding-top-s   { padding-top: 10px; }
.padding-top-m   { padding-top: 20px; }
.padding-top-l   { padding-top: 30px; }
.padding-top-xl  { padding-top: 50px; }
.padding-top-xxl { padding-top: 80px; }
.padding-right-s { padding-right: 10px; }
.padding-right-m { padding-right: 20px; }
.padding-right-l { padding-right: 30px; }
.padding-left-s  { padding-left: 10px; }
.padding-left-m  { padding-left: 20px; }
.padding-left-l  { padding-left: 30px; }
.padding-btm-s   { padding-bottom: 10px; }
.padding-btm-m   { padding-bottom: 20px; }
.padding-btm-l   { padding-bottom: 30px; }

.space-none { margin: 0; padding: 0; }

.border-top { border-top: 1px solid #B8B5A4; }
.border-btm { border-bottom: 1px solid #B8B5A4; }

.red { color: #FF3E2E; }

.line-top {	border-top: 1px dashed #B8B5A4; }
.line-btm {	border-bottom: 1px dashed #B8B5A4; }

.download-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #942911;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	padding:24px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.download-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
	border:1px solid #942911;
	color:#ffffff;
}
.download-btn:active {
	position:relative;
	top:1px;
}

.download-box {
	padding: 50px 10px 10px 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #f7f7f7;
	min-height: 240px;
	-moz-box-shadow:    0 0 4px #b5b5b5;
	-webkit-box-shadow: 0 0 4px #b5b5b5;
	box-shadow:         0 0 4px #b5b5b5;
	text-align: center;
}

.download-box .skinfont {
	font-size: 20px;
}

.skinfont {
	font-family: 'Montserrat', sans-serif;
}

.claim-box {
	margin-top: 50px;
}

.description {
	color: #808080;
	font-size: 21px;
	line-height: 30px;
}

.code {
	font-family: monospace;
	color: #eeeeee;
	line-height: 140%;
	background-color: #333333;
	padding: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: 1px solid #C7C2B1;
	vertical-align: inherit;
	line-height: inherit;
}

.social-links img:hover {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

.cookie-banner {
  display: none;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.cookie-banner p {
  margin: 0;
}

.cookie-banner p a {
  color: #AFAFAF;
	border-bottom: 1px dotted #AFAFAF;
	text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.glm-header .logo img {
  height: 40px;
}

.glm-header nav li {
  float: none;
  text-align: right;
}

.glm-header nav.main-menu .burger-button a:focus {
  background-color: transparent;
}

/* Mobile first: hide all elements except burger button */
.glm-header nav.main-menu li:not(.burger-button) {
  display: none;
}

.glm-header nav.burger-menu {
  display: none;
}

@media (min-width: 992px) {
  .glm-header nav li {
    float: right;
  }
  .glm-header nav.main-menu li:nth-child(1),
  .glm-header nav.main-menu li:nth-child(2),
  .glm-header nav.main-menu li:nth-child(3),
  .glm-header nav.main-menu li:nth-child(4),
  .glm-header nav.main-menu li:nth-child(5),
  .glm-header nav.main-menu li:nth-child(6)
  {
    display: inline;
  }
  .glm-header nav.burger-menu li:nth-child(0),
  .glm-header nav.burger-menu li:nth-child(1),
  .glm-header nav.burger-menu li:nth-child(2),
  .glm-header nav.burger-menu li:nth-child(3),
  .glm-header nav.burger-menu li:nth-child(4),
  .glm-header nav.burger-menu li:nth-child(5)
  {
    display: none;
  }
}

@media (min-width: 1200px) {
  .glm-header nav.main-menu li:nth-child(7),
  .glm-header nav.main-menu li:nth-child(8) {
    display: inline;
  }
  .glm-header nav.burger-menu li:nth-child(6),
  .glm-header nav.burger-menu li:nth-child(7)
  {
    display: none;
  }
}

.glm-header nav li a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
	border: none;
}

.glm-header nav li a:hover {
	background-color: #ffffff;
	color: inherit;
}

.glm-header nav.sub li a {
  text-transform: none;
  font-size: 0.8em;
  font-weight: normal;
}

#footer {
	font-size: 13px;
	margin-top: 50px;
}

#footer .social-links a img {
	width: 60px;
	padding: 0 15px;
}

/* -------------------------------------------------------------------------- */

#documentation h1,
#documentation h2,
#documentation h3,
#documentation h4 {
	margin: 40px 0;
}

#documentation li {
	margin: 12px 0;
}

#documentation #side-menu ol {
	list-style: none;
}

#documentation #side-menu ol li {
	border-bottom: 1px solid #C7C2B1;
	margin-bottom: 16px;
	padding: 0 16px 16px 16px;
}

#documentation img {
	float: left;
	margin: 0 10px 10px 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#documentation img.inline {
	float: none;
	margin: 5px;
	padding-right: 0;
}

#documentation .table {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* -------------------------------------------------------------------------- */

.paypal-inline {
  display: inline-block;
}
.paypal-inline input[type="image"] {
  vertical-align: middle;
}

/* -------------------------------------------------------------------------- */


@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65608156');
  src: url('../font/fontello.eot?65608156#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?65608156') format('woff'),
       url('../font/fontello.ttf?65608156') format('truetype'),
       url('../font/fontello.svg?65608156#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.carousel {
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;
}

.carousel-control {
	text-shadow: none;
	color: #d0451b;
	width: 40px; /* should match font-size below */
}

.carousel-control.right,
.carousel-control.left {
  background-image:none;
  border-bottom: none;
}

.carousel-control.left {
    margin-left: -20px;
}

.carousel-control.right {
    margin-right: -20px;
}

.carousel-control .glyphicon {
	font-family: "fontello";
	font-size: 40px;  /* should match width above */
	width: auto;
	height: auto;
	margin: auto;
}

.carousel-control .glyphicon-chevron-right:before {
  content: '\e801';
}

.carousel-control .glyphicon-chevron-left:before {
  content: '\e800';
}

.carousel-indicators li { visibility: hidden; }

.quotes {
  text-align: center
}

.feature.left {
  text-align: left;
}
.feature.left img {
  float: left;
  margin-right: 20px;
}
.feature.right {
  text-align: right;
}
.feature.right img {
  float: right;
  margin-left: 20px;
}

.news-list {
	margin-top: 50px;
	padding-bottom: 50px;
	background-color: #333333;
}

.news-list p,
.news-list h2,
.news-list span,
.news-list li {
	color: #F7F7F7;
}

.news-list p a,
.news-list span.red {
	color: #E56138;
}

.share-button {
	width: 50px;
	display: inline-block;
}

.share-button a {
	text-decoration: none;
	border-bottom: none;
	color: #333333;
	font-weight: bold;
}

.media-thumb {
	position: relative;
}

.media-thumb a:before {
	content: '';
  position: absolute;
	top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
	transition: all 0.5s;
  background: url('../img/play-icon.svg');
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
}

.media-thumb a:hover:before {
  opacity: 0.9;
}

/* -------------------------------------------------------------------------- */

/* follow us popup */

.glm-follow-us-popup {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;  /* mobile first */
  height: 80px;
	top: 0;
	text-align: center;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 6px 32px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:    0px 6px 32px 0px rgba(0,0,0,0.5);
	box-shadow:         0px 6px 32px 0px rgba(0,0,0,0.5);
}

.glm-follow-us-popup__side {
  float: left;
  width: 90px;
  padding: 10px;
  cursor: pointer;
  cursor: hand;
}

.glm-follow-us-popup__header {
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
}

.glm-follow-us-popup__header p {
  margin: 0;
}

.glm-follow-us-popup__body {
  display: none;
}

.glm-follow-us-popup__footer div {
	display: inline-block;
	margin: 10px 20px;
}

@media (min-width: 501px) {
  .glm-follow-us-popup {
		width: 300px;
    height: 250px;
		left: 20px;
		top: 100%;
    margin-top: -270px;
    -moz-border-radius:    4px;
    -webkit-border-radius: 4px;
    border-radius:         4px;
  }

  .glm-follow-us-popup__side {
    display: none;
  }

  .glm-follow-us-popup__header p {
  	margin: 1em 0;
  }

  .glm-follow-us-popup__body {
    display: block;
  }

  .glm-follow-us-popup__body__ok {
  	width: 40%;
  	margin: 0 auto;
  }

  .glm-follow-us-popup__body__ok:hover {
  	cursor: pointer;
  	cursor: hand;
  }

  .glm-follow-us-popup__footer {
  	padding: 13px;
  }
}
