/**
* cookie.css
**/

.cookie-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: auto;
	z-index: 10;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	position: fixed;
	box-sizing: border-box;
	opacity: 0.7;
	border-radius: 8px 8px 8px 8px;
}

.cookie-box a {
	display: block;
	text-align: center;
}

.ip-list {
	height: auto;
	max-height: 200px;
	width: 150px;
	border: 1px solid #ccc;
	overflow-y: auto;
	font-size: 11px
}

/* Style buttons */
.download-btn {
	background-color: #CADCEB;
  	border: none;
  	color: white;
  	padding: 12px 30px;
  	font-size: 16px;
  	cursor: pointer;
  	font-size: 20px;
  	margin-top: 15px;
  	margin-bottom: 15px;
}

.policy-text {
	font-size: 12px;
}

/* Darker background on mouse-over */
.download-btn:hover {
  	background-color: #4169E1;
}


/* ---------
Version
--------- */
.version-wrapper {
	width: auto;
    margin: auto;
}

.version-text, .version-data {
	width: auto;
	height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 4px 5px 0 5px
}

.version-text {
	border-radius: 4px 0 0 4px;
	background-color: #2E2E2E;
	float: left;
}

.rtl .version-text {
	border-radius: 0 4px 4px 0;
	float: right;
}

.version-data {
	border-radius: 0 4px 4px 0;
	background-color:#CC7A00;
	float: right;
}

.rtl .version-data {
	border-radius: 4px 0 0 4px;
	float: left;
}
