section.media h1 {
    margin-bottom: 8rem;
}

section.media h2 {
    font-weight: bold;
    margin-bottom: 8rem;
}

section.media div.group {
    margin-bottom: 8rem;
}

section.media div.group:last-child {
    margin-bottom: 0;
}

section.media div.group div.container {
    margin-bottom: 2em;
}

section.media div.group div.more {
    text-align: center;
}

section.media div.group div.tutorial {
    margin-top: 2em;
}

section.media div.group div.media-video {
    margin-top: 4em;
}

section.media div.group div.media-video h3 {
    font-weight: bold;
    margin: 1rem 0;
}

section.media div.group div.media-video img {
    border: 40px solid var(--color-grey);
}

section.media div.group div.media-video p {
    color: var(--color-light);
}

@media (min-width: 1024px) {
    section.media div.group div.media-video {
        margin-top: 0;
    }

    section.media div.group div.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 2em;
    }

    section.media div.group div.container div {
        flex: 1 1 0;
        width: 0;
    }
}
