div(class='cookie-banner')
	p We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share 	information about your use of our site with our social media, advertising and analytics partners.<br><a href="privacy">See details</a> | <a href="#" class="cookie-banner__close">ok, got it</a>