div.cookie-banner
	p.
		We use cookies for analytics. By using our site, you acknowledge that you have read and understand our #[a(href='privacy') Privacy Policy], and our #[a(href='tos') Terms of Service]. Your use of this site is subject to these policies and terms. | #[a(href='#' class='close') OK, got it]