.glm-follow-us-popup

	.glm-follow-us-popup__side
		img(class='img-responsive' src='images/facebook-like-thumb.svg' alt='Like it!')

	.glm-follow-us-popup__header
		p Join us on Facebook!

	.glm-follow-us-popup__body
		.glm-follow-us-popup__body__ok
			img(class='img-responsive' src='images/facebook-like-thumb.svg' alt='Like it!')

	.glm-follow-us-popup__footer
		div: a(href='#' class='glm-follow-us-popup__footer__nope') Nope, thanks anyway

