.glm-follow-us-popup

	.glm-follow-us-popup__side
		img(class='img-responsive' src='images/instagram-logo.svg' alt='Follow us!')

	.glm-follow-us-popup__header
		p Follow us on Instagram!

	.glm-follow-us-popup__body
		.glm-follow-us-popup__body__ok
			img(class='img-responsive' src='images/instagram-logo.svg' alt='Follow us!')

	.glm-follow-us-popup__footer
		div: a(href='#' class='glm-follow-us-popup__footer__nope') Nope, thanks anyway

