footer
	div.about
		p
			| Giada is developed by
			br
			|
			img(src='images/monocasual-logo.svg' alt='monocasual laboratories')

	div.vst
		p
			| VST Plug-In Technology by Steinberg.
			br
			| VST is a trademark of Steinberg Media Technologies GmbH.


	div.links
		p
			a(href='privacy') privacy policy 
			|  | 
			a(href='tos') terms of service 
