#footer.container
	.row.border-top.padding-top-s
		.col-md-8
			p.text
				| Giada is developed by
				br
				|
				a.imagelink.monocasual-logo(href='http://www.monocasual.com')
					img(src='images/monocasual-logo.svg' alt='monocasual laboratories')

		.col-md-4
			p.text
				| VST Plug-In Technology by Steinberg.
				br
				| VST is a trademark of Steinberg Media Technologies GmbH.

	.row.margin-top-xl
		.col-md-8.col-md-offset-2
			.text-center.social-links
				a.imagelink(href='feed' title='Giada RSS feed')
					img(src='images/social-icon-rss.svg' alt='RSS' title='Giada RSS feed')
				a.imagelink(href='https://www.facebook.com/GiadaYourHardcoreLoopmachine' title='Giada @ Facebook')
					img(src='images/social-icon-facebook.svg' alt='Facebook' title='Giada @ Facebook')
				a.imagelink(href='https://twitter.com/GiadaLooper' title='Giada @ Twitter')
					img(src='images/social-icon-twitter.svg' alt='twitter' title='Giada @ Twitter')
				a.imagelink(href='https://github.com/monocasual/giada' title='Giada @ Github')
					img(src='images/social-icon-github.svg' alt='github' title='Giada @ Github')
				a.imagelink(href='http://www.youtube.com/user/GiadaLoopMachine' title='Giada @ Youtube')
					img(src='images/social-icon-youtube.svg' alt='youtube' title='Giada @ Youtube')
				a.imagelink(href='https://plus.google.com/+Giadamusic' title='Giada @ Google+')
					img(src='images/social-icon-google.svg' alt='Google+' title='Giada @ Google+')
				a.imagelink(href='http://www.kvraudio.com/product/giada-by-monocasual' title='Giada @ KVR Audio')
					img(src='images/social-icon-kvr.svg' alt='kvr audio' title='Giada @ KVR Audio')

	.row.margin-top-xl
		.col-md-12.text-center
			p.text.links
				a(href='news-archive') news archive 
				|  | 
				a(href='privacy') privacy policy 
				|  | 
				a(href='tos') terms of service 
				|  | 
				a(href='cookies') cookies 
				|  | 
				a(href='mailto:giadaloopmachine@gmail.com') contact us