header
	div.logo
		a(href='index' title='Giada - Your Hardcore Loopmachine')
			img(src='images/giada-logo.svg' alt='Giada - Your Hardcore Loopmachine')
	nav
		ul
			li: a(href='index#download' title='Download') Download
			li: a(href='documentation-index' title='Giada documentation area') User guide
			li: a(href='media' title='Tutorials and media') Tutorials & media
			li: a(href='https://github.com/monocasual/giada/discussions' title='Giada forum for end users') Forum
			li: a(href='https://github.com/monocasual/giada' title='Giada @ GitHub') GitHub