extends ../base

block metas-vars
	- var title       = 'Tutorial #002: live audio FX processing - '
	- var description = ', Use Giada as a live audio FX processor.'
	- var keywords    = ', tutorial, fx, effect, plug-in, vst, live processing'

block content
	.container#tutorial
		.row.margin-top-xl
			.col-md-12.text-center
				h1 Tutorial #002: live audio effect processing.

		.row.margin-top-xl
			.col-md-12
				h2 Getting started
				p.
					In this tutorial we will be using Giada as a plug-in host to process audio coming in from the sound card. This is useful when you want to apply some effects to an instrument or a voice in real time. You will need:
					
				ul
					li
						p a sound card with audio input;
					li 
						p a physical instrument to connect to your sound card. A guitar, a keyboard or a microphone are all good candidates;
					li
						p at least one audio plug-in (e.g. a VST).

				h2 Prepare your sound card for audio input

				p.
					The first thing to do is to enable the input device in your sound card. Open the #[em Configuration window] from the main menu and select the #[em Sound System] tab. You will be prompted with the sound card configuration as in the image below:

				p
					img(src='images/tutorials/002/configuration-window.png' alt='The configuration window')

				p.
					Select a device from the #[em Input device] drop-down menu. Also make sure to select the channels you want to record from in the #[em Input channels] menu. Save the configuration and restart Giada for the changes to take effect. In the meantime, make sure to connect your instrument or microphone to the sound card.

				h2 Set up the input channel

				p.
					Create a new sample channel by clicking on the #[em Edit column] button on top of any column on the main window, then select #[em Add Sample channel] from the drop-down menu: a new empty sample channel will appear in the current column. Now click on the channel main button, highlighted below:

				p
					img(src='images/tutorials/001/empty-sample-channel.png' alt='An empty sample channel')
				
				p.
					Enable the checkbox next to #[em Input monitor] from the drop-down menu. This will make sure you will hear what you are playing. Finally, arm the sample channel by clicking the button highlighted below:
				p
					img(src='images/tutorials/002/arm-button-sample-channel.png' alt='Arm button on a sample channel')
				
				p.
					This will tell Giada to redirect the input signal to this channel. At this point you will be able to hear your instrument or microphone through your speakers.
				
				h2 Select an audio plug-in

				p.
					The last step is to select a plug-in to process your incoming audio stream. Click on the button highlighted below:

				p
					img(src='images/tutorials/002/fx-button-sample-channel.png' alt='FX button on a sample channel')
				
				p.
					This will display the list of all the loaded plug-ins for the current channel. The list is initially empty. Click on the #[em Add new plugin] button to select a plug-in from your collection. Once done, the plug-in will start processing the audio coming into your sound card. 
				
				h2 See also

				ul
					li #[a(href='//documentation-configuration') Documentation: Configuration]
					li #[a(href='/documentation-audio-plugins') Documentation: Audio plug-ins]