extends ../base

block metas-vars
	- var title       = 'User Guide - The Action Editor - '
	- var description = ', documentation, user guide, the Action Editor'
	- var keywords    = ', documentation, user guide, the Action Editor'

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/documentation.css` type='text/css')

block content
	section.documentation
		h1.
			User guide<br>The Action Editor.

		p.
			#[img(src='images/docs/action-editor-window.png' alt='The action editor' title='The action editor')]
		
		p.
			The #[strong action editor] is a tool that allows you to operate on actions. Here you can alter and modify the existing ones, as well as add new actions from scratch. It represents the actions of a channel and it's composed of several horizontal widgets, each of them containing a specific action type.

		h2 General interactions

		p.
			All the widgets work the same way: you manage them with the mouse and you add, remove or shift the actions by clicking on them.
			
		table.table
			tr
				th action
				th effect
			tr
				td.
					#[span.code left click] on empty area
				td.
					add an action
			tr
				td.
					#[span.code right click] on action
				td.
					remove an action
			tr
				td.
					#[span.code left click] + drag on action
				td.
					move the action or resize it
			tr
				td.
					#[span.code right click] + drag on empty area
				td.
					vertical scroll, if the widget has scrollable content

		p.
			The #[strong zoom buttons] #[img.inline(src='images/docs/zoom-buttons.png' alt='Zoom buttons' title='Zoom buttons')] in the upper right corner of the window allow to magnify or reduce the view of all the widgets. The #[strong grid tool] #[img.inline(src='images/docs/giada-action-editor-snap-grid.png' alt='Grid tool' title='Grid tool')] shows a visual grid over the beat cells; the small check button on the right enables snapping.

		h2 Available actions

		p.
			At the moment the action editor allows to manage the following action types:
		
		p
			ul
				li.
					key press, key release, sample kill &mdash; through the #[strong start/stop] widget;
				li.
					volume &mdash; through the #[strong volume envelope] widget;
				li.
					MIDI notes &mdash; through the #[strong piano roll] widget;					
				li.
					MIDI velocity &mdash; through the #[strong velocity] widget.

		h2 Start/stop widget

		p.
			#[img.inline(src='images/docs/action-widget.png' title='Action widget' alt='Action widget')]
		p.
			The Start/stop widget works only for #[strong Sample channels] set in #[strong oneshot mode] (see #[a(href='documentation-channels-and-samples') Channels and Samples] chapter); if you open the editor for a Sample channel set in #[strong loop mode], the widget will be disabled. Actions are represented in different ways:
		
		
		ul
			li
				p.
					#[strong Key press]	#[img.inline(src='images/docs/action-keypress.png' title='Action keypress' alt='Action keypress')]	&mdash; a single key pressure, usually recorded live with #[span.code (key)];
			li
				p.
					#[strong Key release] #[img.inline(src='images/docs/action-keyrel.png' title='Action keyrel' alt='Action keyrel')] &mdash; a single key release;
			li
				p.
					#[strong Kill chan] #[img.inline(src='images/docs/action-killchan.png' title='Action kill chan' alt='Action kill chan')] &mdash; a sample break, usually recorded live with #[span.code shift+(key)];
			li
				p.
					#[strong Composite action] #[img.inline(src='images/docs/action-composite.png' title='Composite action' alt='Composite action')] &mdash; it represents the combination of a #[em key press] + #[em key release] and it's available only for channels set to #[strong oneshot press] mode #[img.inline(src='images/docs/mode_loopd.png' tile='Oneshot press' alt='Oneshot press')]. It shows the #[em duration] of the key pressure and you can resize it by dragging the edges.
		
		p.
			The #[strong action type selector] #[img.inline(src='images/docs/action-type.png' alt='Action type selector' title='Action type selector')] changes the action type you would add by left-clicking on an empty area.

		h2 Volume Envelope widget

		p.
			#[img(src='images/docs/volume-envelope-widget.png' title='Volume Envelope widget' alt='Volume Envelope widget')] 
		p.
			The Volume Envelope widget handles volume changes. It ranges from 0 (bottom, silence) to 1 (top, full amplitude). Click on the first or last point to erase the envelope completely.

		h2 Piano Roll widget

		p.
			#[img(src='images/docs/piano-roll-widget.png' title='Piano Roll widget' alt='Piano Roll widget')]
		p.
			Available only for #[strong MIDI channels], the Piano Roll widget handles MIDI notes. It represents the full set of 128 notes (0-127) with 11 octaves ranging from C-1 (or C0) to G9 (or G10).
		p.
			It can be vertically resized by dragging the lower edge up and down. #[em Left-click] on an empty space and drag it to move the grid up and down.
		p.
			Starting from version 0.13.4 the piano roll editor is able to cope with wrong MIDI events, such as two Note On next to each other. We call them #[strong orphaned MIDI events] and they look like an empty rectangle #[img.inline(src='images/docs/action-orphaned.png' alt='Orphaned MIDI event' title='Orphaned MIDI event')] with fixed width.
		p.
			You can't do much with an orphaned MIDI event, except for deleting it by right clicking on it. Useful to clean up a MIDI mess.

		h2 Velocity widget

		p.
			#[img(src='images/docs/velocity-widget.png' title='Velocity widget' alt='Velocity widget')] 
		p.
			Available only for #[strong MIDI channels], the Velocity widget lets you change the overall volume of the MIDI note. Values range from 0 (silent) to 127 (maximum loudness). Each point in the velocity widget matches the corresponding note in the piano roll editor.
