extends ../base

block metas-vars
	- var title       = 'User Guide - The Action Editor - '
	- var description = ', documentation, user guide, the Action Editor'
	- var keywords    = ', documentation, user guide, the Action Editor'

block content
	section.documentation
		h1.
			User guide<br>The Action Editor.

		p.
			#[img(src='images/docs/action-editor-window.png' alt='The action editor' title='The action editor')]
		
		p.
			The #[strong action editor] is a tool for working with actions. Here you can edit existing actions as well as create new ones from scratch. It displays the actions of a channel and is composed of several horizontal widgets, each dedicated to a specific action type.

		h2 General interactions

		p.
			All widgets work in the same way: you interact with them using the mouse, and you can add, remove, move, or resize actions directly.
			
		table.table
			tr
				th action
				th effect
			tr
				td.
					#[span.code left click] on empty area
				td.
					add an action
			tr
				td.
					#[span.code right click] on action
				td.
					remove an action
			tr
				td.
					#[span.code left click] + drag on action
				td.
					move or resize the action
			tr
				td.
					#[span.code Ctrl] + mouse wheel scroll (Windows and Linux)<br>
					#[span.code Cmd] + trackpad scroll (macOS)
				td.
					zoom in/out

		p.
			The #[strong zoom buttons] #[img.inline(src='images/docs/zoom-buttons.png' alt='Zoom buttons' title='Zoom buttons')] in the upper-right corner of the window let you zoom in or out across all widgets. The #[strong grid tool] #[img.inline(src='images/docs/giada-action-editor-snap-grid.png' alt='Grid tool' title='Grid tool')] displays a visual grid over the beat cells, while the small check button on the right enables snapping.

		h2 Available actions

		p.
			At the moment, the action editor lets you manage the following action types:
		
		p
			ul
				li.
					key press, key release, and sample kill — through the #[strong start/stop] widget;
				li.
					velocity — through the #[strong velocity] widget;
				li.
					MIDI notes — through the #[strong piano roll] widget.

		h2 Start/stop widget

		p.
			#[img(src='images/docs/action-widget.png' title='Action widget' alt='Action widget')]
		p.
			The Start/stop widget works only for #[strong sample channels] set to #[strong one shot] mode (see the #[a(href='documentation-channels-and-samples') Channels and samples] chapter). If you open the editor for a sample channel set to #[strong loop] mode, the widget is disabled. Actions are represented in different ways:
		
		ul
			li
				p.
					#[strong Key press] #[img.inline(src='images/docs/action-keypress.png' title='Action keypress' alt='Action keypress')] — a single key press, usually recorded live with #[span.code (key)];
			li
				p.
					#[strong Key release] #[img.inline(src='images/docs/action-keyrel.png' title='Action keyrel' alt='Action keyrel')] — a single key release;
			li
				p.
					#[strong Stop sample] #[img.inline(src='images/docs/action-killchan.png' title='Action kill chan' alt='Action kill chan')] — a sample stop, usually recorded live with #[span.code shift + (key)];
		p.
			The #[strong action type selector] #[img.inline(src='images/docs/action-type.png' alt='Action type selector')], located in the top-left corner of the Action Editor window, changes the action type that is added when you left-click on an empty area.

		h2 Velocity widget

		p.
			#[img(src='images/docs/velocity-widget.png' title='Velocity widget' alt='Velocity widget')] 
		p.
			Available for both #[strong sample channels] and #[strong MIDI channels], the Velocity widget lets you change the overall volume of an action. On MIDI channels, values range from 0 (silent) to 127 (maximum loudness) to match the value range defined by the MIDI protocol. Each action has a corresponding point in the velocity widget.

		h2 Piano Roll widget

		p.
			#[img(src='images/docs/piano-roll-widget.png' title='Piano Roll widget' alt='Piano Roll widget')]
		p.
			Available only for #[strong MIDI channels], the Piano Roll widget handles MIDI notes. It represents the full set of 128 notes (0-127) across 11 octaves, ranging from C-1 (or C0) to G9 (or G10).
		p.
			The piano roll editor can also handle invalid MIDI events, such as two Note On events placed next to each other. These are called #[strong orphaned MIDI events] and appear as an empty rectangle #[img.inline(src='images/docs/action-orphaned.png' alt='Orphaned MIDI event' title='Orphaned MIDI event')] with a fixed width. There is not much you can do with an orphaned MIDI event except delete it by right-clicking on it, which is useful for cleaning up a messy MIDI recording.