extends ../base

block metas-vars
	- var title       = 'User Guide - Audio plug-ins - '
	- var description = ', documentation, user guide, udio plug-ins'
	- var keywords    = ', documentation, user guide, udio plug-ins'

block content
	section.documentation
		h1.
			User guide<br>Audio plug-ins.

		p.
			Giada can host VST3 and LV2 plug-ins thanks to the #[a(href='https://www.juce.com/') JUCE] framework. To use them, just follow these three basic steps:
		ol
			li
				p.
					scan the plug-in directory, that is, the folder where your plug-ins are stored. You only need to do this once, or whenever you add or install new plug-ins. This process is described in the #[a(href='documentation-configuration') Configuration] chapter;
			li
				p.
					browse the available plug-ins by clicking the FX button #[img.inline(src='images/docs/fx-button.png' alt='FX button' title='FX button')] on each channel or next to the main input/output channels;
			li
				p.
					select the desired plug-in and add it to the stack.

		h2 The plug-in stack

		p.
			The FX button #[img.inline(src='images/docs/fx-button.png' alt='FX button' title='FX button')] opens the list of plug-ins currently in use. This is where you add or remove plug-ins from channels and the main input/output. Wherever it appears, clicking it opens the plug-in stack window.
		
		p.
			#[img(src='images/docs/vst-window.png' alt='The plug-in stack window' title='The plug-in stack window')]
		
		p.
			Each line corresponds to one plug-in. Click the #[strong name of the effect] to open the plug-in editor. By default, Giada will try to display the plug-in's graphical interface; if the plug-in does not provide one, another window will show a list of available parameters that can be adjusted with horizontal sliders.
		
		p.
			The drop-down menu on the right lists the #[strong presets] (also known as #[em programs]). The #[strong check button] #[img.inline(src='images/docs/vst-window-check-button.png' alt='Check button' title='Check button')] enables or disables the plug-in, while the #[strong up/down buttons] #[img.inline(src='images/docs/vst-window-up-down-buttons.png' alt='Up/down buttons' title='Up/down buttons')] move the plug-in within the stack. Finally, the #[strong remove button] #[img.inline(src='images/docs/vst-window-remove-button.png' alt='Remove button' title='Remove button')] removes the plug-in from the stack. To add a new plug-in, click the button at the end of the stack (#[strong add new plug-in]).
		
		h2 List of available plug-ins

		p.
			#[img(src='images/docs/plugin-list.png' alt='The plug-in list window' title='The plug-in list window')]
		
		p.
			This window appears when you need to add a new plug-in to a stack by clicking the #[strong add new plug-in] button mentioned above.
		
		p.
			It shows a sorted list of all plug-ins found on your system after the scan, together with useful information such as type, manufacturer, category, and more.
		
		p.
			To add a plug-in to the stack, select it from the list and press #[span.code enter] or click the #[strong add] button.

		h2 Performance and plug-in compatibility
		
		p.
			You can load an unlimited number of plug-ins in Giada, but keep in mind that they may put a heavy load on your CPU and compromise live performance.
		
		p.
			Plug-ins must run in compatible environments. For example, a macOS plug-in cannot be loaded in the Windows version of Giada, and vice versa. Plug-ins also require binary compatibility with the host: you cannot load a 32-bit plug-in in a 64-bit version of Giada, or vice versa.