extends ../base

block metas-vars
	- var title       = 'User Guide - Channels and Samples - '
	- var description = ', documentation, user guide, channels and Samples'
	- var keywords    = ', documentation, user guide, channels and Samples'

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/documentation.css` type='text/css')

block content
	section.documentation
		h1.
			User guide<br>Channels and Samples.

		img(src='images/docs/sample-channel.png' alt='Sample Channel')

		p.
			A #[strong Sample channel] contains one sample, which you can play manually or controlled by the main sequencer. Manually, the sample will play right away; sequenced, it will start on the sequencer first beat and will loop back on the last one.					
		p.
			By clicking on the #[strong main button] #[img(src='images/docs/sample-button.png' alt='Main button' class='inline')] you will be able to load a new audio file as well as doing further operations. You can add a new channel by clicking on the button on top of each column on the main window, or by drag-and-dropping a file over the column itself.

		h2 Anatomy of a Sample channel

		p.
			A Sample channel is made of several components. From left to right:

		ul
			li
				p.
					#[img(src='images/docs/play-button.png' alt='Play button' class='inline')] #[strong Play button] — starts and stops the channel (if loaded with a sample);
			li
				p.
					#[img(src='images/docs/arm-button.png' alt='Arm button' class='inline')] #[strong Arm button] — arms the channel for recording;
			li
				p.
					#[img(src='images/docs/status-box.png' alt='Status box' class='inline')] #[strong Status box] — reports the playback position of the running sample;
			li
				p.
					#[img(src='images/docs/sample-button.png' alt='Main button' class='inline')] #[strong Main button] — shows the sample name and allows many operations on it. More information in the paragraphs below;
			li
				p.
					#[img(src='images/docs/read-recs-button.png' alt='Read actions button' class='inline')] #[strong Read actions button] — if enabled, actions recorded for this channel will be reproduced. The button is grayed out if the channel has no actions;
			li
				p.
					#[img(src='images/docs/mute-button.png' alt='Mute button' class='inline')] #[strong Mute button] — mutes the sample. 
			li
				p.
					#[img(src='images/docs/solo-button.png' alt='Mute button' class='inline')] #[strong Solo button] — solo mode. Only this channel will be audible;
			li
				p.
					#[img(src='images/docs/fx-button.png' alt='FX button' class='inline')] #[strong FX button] — display the #[a(href='documentation-audio-plugins') plug-ins window];
			li
				p.
					#[img(src='images/docs/volume-dial.png' alt='Volume dial' class='inline')] #[strong Volume dial] — controls the channel volume;
			li
				p.
					#[img(src='images/docs/mode_loopa.png' alt='Mode box' class='inline')] #[strong Mode box] — sets the channel #[strong play mode]. More information in the paragraphs below.

		h2 The Sample Channel main button

		p.
			Clicking on a Sample channel main button reveals a pop-up menu with several options available: 

		p
			img(src='images/docs/channel-button-menu.png' alt="Sample channel button's menu")
		ul
			li
				p.
					#[strong Input monitor] — when enabled, it allows you to monitor (i.e. listen to) the audio input to an armed channel. This option can be set to on or off by default in the #[a(href='documentation-configuration') configuration window], "Behaviors" tab;
			li
				p.
					#[strong Overdub protection] — if enabled, the #[strong arm button] is disabled when the channel is not empty. This is useful to prevent unwanted overwrites of your audio recordings while live recording;
			li
				p.
					#[strong Load new sample] — replaces the current sample with a new one. Volume, actions, mode will be preserved;
			li
				p.
					#[strong Export sample to file] — writes the loaded sample to disk. This option is useful to export a single take without saving the entire project (more information in section #[a(href='documentation-save-load-export') Save, load, export]);
			li
				p.
					#[strong Set keyboard input] — binds keyboard buttons to this channel;
			li
				p.
					#[strong Setup MIDI input] — binds MIDI events to this channel, see #[a(href='documentation-midi-input-management') MIDI input management];					
			li
				p.
					#[strong Setup MIDI output] — enables MIDI output from this channel, see #[a(href='documentation-midi-output-management') MIDI output management];
			li
				p.
					#[strong Edit sample] — opens the #[a(href='documentation-sample-editor') Sample Editor];
			li
				p.
					#[strong Edit actions] — opens the #[a(href='documentation-action-editor') Action Editor];
			li
				p.
					#[strong Clear actions] — deletes recorded actions from the channel: key press/key release, volume or everything. The option is grayed out if there are no actions to delete;
			li
				p.
					#[strong Rename] — changes the channel name;
			li
				p.
					#[strong Clone] — adds a new channel by making a full copy of the current one;
			li
				p.
					#[strong Free] — discharges the sample and the recorded actions, if any. Volume and mode will be preserved.
			li
				p.
					#[strong Delete] — removes the channel from the column. Actions and samples will be deleted as well.

		h2 Channel statuses

		p.
			The #[strong status box] #[img(src='images/docs/status-box.png' alt='Status box' title='Status box' class='inline')] gives you information about the sample:

		ul
			li
				p.
					#[img(src='images/docs/chanstatus_off.png' alt='Chan status off' title='Chan status off' class='inline')] #[strong Off] — the channel is stopped;
			li
				p.
					#[img(src='images/docs/chanstatus_wait.png' alt='Chan status wait' title='Chan status wait' class='inline')] #[strong Wait/ending] (blinking) — the channel is waiting for the first beat or is about to stop;
			li
				p.
					#[img(src='images/docs/chanstatus_play.png' alt='Chan status play' title='Chan status play' class='inline')] #[strong Play] — the channel is active and playing;
			li
				p.
					#[img(src='images/docs/chanstatus_actionrec_on.png' alt='Chan status action recs on' title='Chan status action recs on' class='inline')] #[strong Action recording on] — the channel is ready to record actions;
			li
				p.
					#[img(src='images/docs/chanstatus_inputrec_on.png' alt='Chan status input recs on' title='Chan status input recs on' class='inline')] #[strong Audio recording on] — the channel is recording something from the sound card.

		h2 Play modes

		p.
			Play modes define the behavior of a sample channel and are divided into two families: #[strong loop] and #[strong one shot]. 

		p.
			Main features of #[strong loop modes]:

		ul
			li 
				p work only when the sequencer is running;
			li 
				p constrained to the sequencer boundaries;
			li
				p you can't record keypress/keyrelease actions on them (but volume actions are allowed).
		p.
			Main features of #[strong one shot] modes:
		ul
			li 
				p independent from the sequencer;
			li 
				p you can record actions on them.

		table.table
			tr
				th type
				th icon
				th name
				th effect
			tr
				td(rowspan=4) loop
				td #[img(src='images/docs/mode_loopa.png' alt='Loop basic' title='Loop basic' class='inline')]
				td loop basic
				td The sample starts at beat 1 and will play continuously until its key is pressed
			tr
				td #[img(src='images/docs/mode_loopb.png' alt='Loop once' title='Loop once' class='inline')]
				td loop once
				td The sample starts at beat 1 and will play until finished. Then, at the next first beat it starts again
			tr
				td #[img(src='images/docs/loop-once-bar.png' alt='Loop once bar' title='Loop once bar' class='inline')]
				td loop once bar
				td Similar to the previous mode, but the sample starts again also on the next first bar
			tr
				td #[img(src='images/docs/mode_loopf.png' alt='Loop repeat' title='Loop repeat' class='inline')]
				td loop repeat
				td The sample starts at beat 1 and will play continuously, rewinding itself at every bar
			tr
				td(rowspan=5) one shot
				td #[img(src='images/docs/mode_loopc.png' title='One Shot basic' alt='One Shot basic' class='inline')]
				td one shot basic
				td The sample starts on key press, stops and rewinds on a second keypress
			tr
				td #[img(src='images/docs/one-shot-basic-pause.png' title='One Shot basic pause' alt='One Shot basic pause' class='inline')]
				td one shot basic pause
				td Like the previous mode, but the sample just pauses on a second keypress. Pressing the key again resumes play
			tr
				td #[img(src='images/docs/mode_loopd.png' tile='One Shot press' alt='One Shot press' class='inline')]
				td one shot press
				td The sample plays as long as its key is pressed
			tr
				td #[img(src='images/docs/mode_loope.png' title='One Shot retrig' alt='One Shot retrig' class='inline')]
				td one shot retrig
				td The sample plays until the end; pressing its key rewinds it
			tr
				td #[img(src='images/docs/mode_loopg.png' title='One Shot endless' alt='One Shot endless' class='inline')]
				td one shot endless
				td The sample plays in loop forever; pressing its key stops it

		h2 Keyboard interactions

		p.
			Sample channels are playable by clicking on the channel #[strong play button] #[img(src='images/docs/play-button.png' alt='Play button' class='inline')]. or by pressing the corresponding keyboard/MIDI button if bound. The following table shows the behavior of sample channels in #[strong loop] mode:

		table.table
			tr
				th mode
				th event
				th alt. event
				th result
			tr
				td(rowspan='4') loop
			tr
				td #[span.code (key)]
				td click on play button #[img(src='images/docs/play-button.png' alt='Play button' class='inline')]
				td wait, then start or stop on next first beat
			tr
				td #[span.code shift + (key)]
				td #[span.code shift] + click on play button #[img(src='images/docs/play-button.png' alt='Play button' class='inline')]
				td immediate stop. Also rewinds samples in "one shot basic pause" mode
			tr
				td #[span.code control + (key)]
				td click on mute button #[img(src='images/docs/mute-button.png' alt='Mute button' class='inline')]
				td mute
		p.
			The following table shows the behavior of channels in #[strong one shot] mode:

		table.table
			tr
				th mode
				th event
				th alt. event 1
				th alt. event 2
				th result
			tr
				td(rowspan='4') one shot
			tr
				td #[span.code (key)]
				td click on play button #[img(src='images/docs/play-button.png' alt='Play button' class='inline')]
				td -
				td start
			tr
				td #[span.code shift + (key)]
				td #[span.code shift] + click on play button
				td click on read actions button #[img(src='images/docs/read-recs-button.png' alt='Read recordings button' class='inline')]
				td immediate stop if channel has no actions, else start or stop reading actions
			tr
				td #[span.code control + (key)]
				td click on mute button #[img(src='images/docs/mute-button.png' alt='Mute button' class='inline')]
				td -
				td mute

