extends ../base

block metas-vars
	- var title       = 'User Guide - Configuration - '
	- var description = ', documentation, user guide, configuration'
	- var keywords    = ', documentation, user guide, configuration'

block content
	section.documentation
		h1.
			User guide<br>Configuration

		p.
			This panel lets you adjust hardware parameters as well as operational modes through six different tabs: #[strong Audio], #[strong MIDI], #[strong Behaviors], #[strong Plug-ins], #[strong Key Bindings], and #[strong Misc].
		
		h2 Audio

		ul
			li.
				#[strong System] — the audio framework to use. It may vary depending on the operating system.
			li.
				#[strong Buffer size] — (in frames): a low value means low latency but higher CPU usage, while a high value means higher latency and lower CPU usage. The latter is useful if you have a slower machine or do not need to play channels live.
			li.
				#[strong Sample rate] — (in Hz): the sample rate at which your sound card operates. If you load samples recorded at different sample rates, they will be converted to this rate (see #[em resampling] below).
			li.
				#[strong Output device] — the device used for playback.
			li.
				#[strong Limit output] — if enabled, the output signal is clipped when it exceeds &pm; 1.0 (floating-point values).
			li.
				#[strong Input device] — the device used for recording. Disabled by default; it can be enabled by clicking the checkbox button on the right.
			li.
				#[strong Resampling] — the algorithm used for resampling, that is, when you load a sample whose rate differs from the system rate and when you change the pitch of a sample channel. You can choose from five algorithms: 1) #[strong Linear] — very fast, low quality; 2) #[strong Zero Order Hold] — fast, low quality; 3) #[strong Sinc basic quality] — not very fast, medium quality; 4) #[strong Sinc medium quality] — slow, good quality; 5) #[strong Sinc best quality] — very slow, highest quality.
		
		h2 MIDI

		ul
			li
				p.
					#[strong System] — the MIDI framework to use. It may vary depending on the operating system;
			li
				p.
					#[strong Output port] — the MIDI output connection;
			li
				p.
					#[strong Input port] — the MIDI input connection;
			li
				p.
					#[strong Output midimap] — the midimap file currently in use. See #[a(href='documentation-midi-output-management') MIDI output management] for more information about the MIDI lighting feature;
			li
				p.
					#[strong Sync] — how to synchronize with another device via MIDI. Giada currently supports synchronization via #[a(href='http://en.wikipedia.org/wiki/MIDI_beat_clock') MIDI clock]. Possible choices:
				ol
					li
						p.
							#[strong (disabled)] — do not synchronize;
					li
						p.
							#[strong MIDI Clock (master)] — send MIDI clock data. Giada acts as the master device;
					li
						p.
							#[strong MIDI Clock (slave)] — receive MIDI clock data. Giada acts as the slave device.
		
		h2 Behaviors

		p.
			Define how Giada handles loops, timing, and channels.

		ul
			li
				p.
					#[strong Dynamic channels stop immediately when the sequencer is halted] — what should happen when you stop the performance by pressing the #[span.code spacebar] or the stop button? If this option is enabled, any sample in loop mode and any sample with recorded actions stops abruptly; otherwise it continues until the end.
			li
				p.
					#[strong Treat one shot channels with actions as loops] — by default, clicking the #[img(src='images/docs/read-recs-button.png' alt='Read actions button' class='inline')] button on a channel that is reading actions stops it immediately. When this option is enabled, any playing channel whose actions are suspended first enters #[em ending mode], as a loop-mode channel would, and then stops at the next first beat.
			li
				p.
					#[strong New sample channels have input monitor on by default] — if enabled, new sample channels have the #[em Input monitor] flag checked by default;
			li
				p.
					#[strong New sample channels have overdub protection on by default] — if enabled, new sample channels have the #[em Overdub protection] flag checked by default. Useful when recording audio live. 

		h2 Plug-ins

		p.
			This tab contains the plug-in scanner. It is used to search your system for available audio plug-ins. Enter the path to your plug-in folder in the input field and press the #[strong Scan] button. More than one path can be added, either manually or by clicking the "+" button, which opens a directory browser. Paths are separated by the #[span.code ;] character.
		
		p.
			Once the scan is complete, the #[strong Scan] button reports the number of available plug-ins found. You should perform a complete scan every time you add or install a new plug-in so it becomes available for use.

		h2 Key Bindings

		p.
			This tab lets you change the default keyboard bindings for global actions such as starting or stopping the sequencer, recording audio, recording actions, and so on. Choose the key you want to remap, click the #[strong Bind] button, and press a key on your keyboard. The #[strong Clear] button removes the binding.

		h2 Misc

		p.
			Miscellaneous options.

		ul
			li
				p.
					#[strong Debug messages] — how Giada reports information about its internal state:
				
				ol
					li
						p.
							#[strong (disabled)] — do not print anything anywhere;
					li
						p.
							#[strong To standard output] — print messages to the command line, but only if you run Giada from the terminal. This mode may not work on Windows;
					li
						p.
							#[strong To file] — save messages to a #[span.code giada.log] file, located in the same place as the configuration file, as described in the #[a(href='documentation-introduction') Introduction] chapter.
			
			li
				p.
					#[strong Tooltips] — toggles the small pop-up messages that appear when you hover the mouse over UI components. 
			
			li
				p.
					#[strong Language file] — the current language file used for localization. Giada stores localized text in special JSON files called #[em langmaps], which reside in your configuration directory, more precisely:
				ol
					li
						p.
							Linux — #[span.code /home/(your_user)/.config/giada/langmaps/];
					li
						p.
							Mac — #[span.code /Users/(your_user)/Library/Application Support/Giada/langmaps/];
					li
						p.
							Windows — #[span.code C:\Users\(your_user)\AppData\Giada\langmaps\].
				
				p.
					Langmap files can be downloaded from #[a(href='https://github.com/monocasual/giada-langmaps') the official repository of Giada langmap files] on GitHub. New translations are welcome. Please take a look at the #[a(href='https://github.com/monocasual/giada-langmaps#readme') README.md] file if you want to contribute.