extends ../base

block metas-vars
	- var title       = 'User Guide - Introduction - '
	- var description = ', documentation, user guide, introduction, installation, first run'
	- var keywords    = ', documentation, user guide, introduction, installation, first run'

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/documentation.css` type='text/css')

block content
	section.documentation
		h1.
			User guide<br>Introduction, installation and first run.

		p #{CONSTANTS.description}

		h2 Warnings

		p.
			Giada is in a constant stage of development and may lack of some functionalities which could make it hard to use. Please see the #[a(href='https://github.com/monocasual/giada/milestones') milestones] to understand the direction of development. Giada is obviously full of bugs, too. So you are welcome to join our #[a(href='https://github.com/monocasual/giada/discussions') forum] and submit any malfunction or suggestion.
		p.
			If you want to collaborate with this project, join us on #[a(href='https://github.com/monocasual/giada') GitHub].
		
		h2 Requirements

		p.
			Giada is available on Windows, macOS and Linux. We provide binaries for Windows and macOS only. More specifically:

		ul
			li
				p on Windows, x64 — Windows Vista or greater is required;
			li
				p on macOS, 64-bit Intel — macOS Sierra 10.14 or greater is required;
			li
				p on Linux — Giada is distributed as a #[a(href='https://flatpak.org/') Flatpak package] via the #[a(href='https://flathub.org/') Flathub App Store].
		
		p.
			You can also build Giada from source. More information in the #[a(href='/documentation-compiling-from-source') Compiling from source] page.

		h2 How to run Giada

		p.
			Go to the #[a(href='/index#download') Download area], grab the package for your operating system, unzip it if required. Then:
		ul
			li
				p on Windows and macOS — Double-click on the program icon to start Giada;
			li
				p follow the instructions in the #[a(href='https://flathub.org/en/apps/com.giadamusic.Giada') Giada @ Flathub page].

		h2 The configuration file

		p.
			Giada saves its configuration in a file called #[span.code giada.conf], generated somewhere in your filesystem:
		ul
			li
				p.
					Linux — #[span.code /home/(your_user)/.config/Giada/giada.conf];
			li
				p.
					macOS — #[span.code /Users/(your_user)/Library/Application Support/Giada/giada.conf];
			li 
				p.
					Windows — #[span.code C:\Users\(your_user)\AppData\Giada\giada.conf].
		p.
			If you accidentally delete or alter it, the default setup will be used. This file is restored the next time you quit the program.

		h2 Problems with the Linux version?

		p.
			The Flatpak package should just work out of the box. However for the absolute, best, top-notch experience you should also try binaries shipped by the package manager of your favorite distribution. Giada is available on #[a(href='https://packages.debian.org/search?keywords=giada&searchon=names&section=all') Debian], #[a(href='https://packages.ubuntu.com/search?section=all&arch=any&keywords=giada&searchon=names') Ubuntu] and many more.

		h2 Problems with the macOS version?

		p.
			The macOS package we currently provide is not signed, which makes the OS quite unhappy. So if Giada doesn't start when double-clicked, try to remove the "quarantine flag" by running #[a(href='https://apple.stackexchange.com/a/372208') these instructions]. Additionaly, macOS Gatekeeper might get in the way: follow #[a(href='https://disable-gatekeeper.github.io/') these instructions] to disable it.
