extends ../base

block metas-vars
	- var title       = 'User Guide - Live sampling - '
	- var description = ', documentation, user guide, ive sampling'
	- var keywords    = ', documentation, user guide, ive sampling'

block content
	section.documentation
		h1.
			User guide<br>Live sampling.

		p.
			Giada lets you record anything coming from your sound card through its live sampler and the main input channel. First configure your device in the #[a(href='documentation-configuration') Configuration panel], then raise the #[strong input volume] knob in the main window.

		h2 How to use the live sampler

		p.
			The live sampler works only with sample channels. Add at least one sample channel, then arm it using the channel #[strong arm button] #[img(src='images/docs/arm-button.png' alt='Arm button' class='inline')]. You can, of course, arm multiple channels. When you are ready, click the #[strong audio recording button] #[img(src='images/docs/input-recording-button.png' alt='audio recording button' class='inline')] in the main transport or press the #[span.code end] key to enable the sampler: channels with an active input turn #[em blue].
		p.
			The sequencer starts automatically, since recording audio with the sequencer turned off would not make sense. By default, the sampler works in #[em overdub mode]: audio coming from the sound card is continuously added to the existing audio until the sampler is stopped.

		h2 Live effects processor

		p.
			Arm the channel and enable the #[strong input monitor] option in the channel drop-down menu. This lets you hear what you are playing, processed through the plug-in stack, if any. If you do not enable the sampler (using the #[strong input recording button] #[img(src='images/docs/input-recording-button.png' alt='Input recording button' class='inline')] or the #[span.code end] key), Giada will not record anything and will instead work as a live effects processor.
		p.
			You can achieve a similar result by using the #[strong stream linker] #[img(src='images/docs/stream-linker-button.png' alt='Input to output linker' class='inline')], the button located directly below the input meter in the main window. Enable it to hear what you are playing.

		h2 Record on signal

		p.
			Pressing the audio recording button also starts the sequencer. In some cases, however, you may want it to wait and start only when the input audio level reaches a certain threshold. This mode is called #[strong record on signal], and you can enable it by clicking the #[strong record on signal button] #[img(src='images/docs/record-on-signal-button.png' alt='Record on signal button' class='inline')] in the main transport. You can set the desired threshold level in the #[a(href='documentation-configuration') Configuration panel].