extends ../base

block metas-vars
	- var title       = 'User Guide - A look at the main window - '
	- var description = ', documentation, user guide, a look at the main window'
	- var keywords    = ', documentation, user guide, a look at the main window'

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/documentation.css` type='text/css')

block content
	section.documentation
		h1.
			User guide<br>A look at the main window.
		
		p
			img(src='images/docs/main-window.png' alt='Main Window')

		p.
			The main window is the part of Giada where you will spend most of the time while live playing. The upper part contains the main menu and several tools for input/output, tempo management and global synchronization. The remaining space is for #[strong columns] and #[strong channels]. 
		
		p.
			Don't worry if you don't understand the behavior of these elements right now; they will be covered more clearly in the next chapters. Let's take a quick glance at the several components that make up the main interface, starting from the main area.
		
		h2 Columns and channels

		p.
			Columns contain channels, which in turn hold audio samples or MIDI events. Channels are one of the building blocks of Giada and that's where the sound comes from — mostly. Their usage will be covered in #[a(href='/documentation-performing-1') Performing part 1], #[a(href='/documentation-performing-2') Performing part 2], #[a(href='/documentation-channels-and-samples') Channels and samples] and #[a(href='/documentation-channels-and-midi') Channels and MIDI] chapters.
		
		p.
			You can add as many channels and columns as you want. Columns are used to organize your project and arrange channels according to some logic. For example, you can group drum kits on column 1 and pads on column 2, while voice loops live in column 3. Columns are just a user interface thing that doesn't affect the audio processing.

		h2 Main input and main output

		p.
			These tools take care of audio I/O: input on the left, ouput on the right. The circular knobs control the volume, the vertical bars are meters. Ranging from -60 to 0 dBFS, when a bar is completely full it means that you are recording or playing at the maximum level allowed. If you exceed this limit your sound starts to clip and the meter turns red.
		p.
			The button located below the input meter is the #[strong stream linker] #[img(src='images/docs/stream-linker-button.png' alt='Stream Linker button' class='inline')]. If enabled, it copies the input audio straight to the output channel, in order to obtain a "hear what you're playing" functionality. The #[img(src='images/docs/fx-button.png' alt='FX' class='inline')] buttons are used to load audio plug-ins both for the input and the output channel. More information in the #[a(href='/documentation-audio-plugins') Audio Plugins] chapter.

		h2 The sequencer and the main transport
		
		p.
			#[strong The sequencer] is a central tool in Giada. It keeps your live performance in sync and is responsible for driving loops, samples and MIDI events. It is managed by the #[strong main transport], namely the #[strong play/stop] button that starts and stops the song and the #[strong rewind] button that quickly rewinds the sequencer to the first beat. 
		
		p.
			The main transport features additional elements such as the recording buttons (second group from the left), used to 
			toggle #[strong audio recording] and #[strong action recording]. More information in the #[a(href='/documentation-recording-actions') Recording Actions] and #[a(href='/documentation-live-sampling') Live sampling] chapters. The last button is the #[strong metronome], useful during a recording session.

		h2 Beats, bars, quantizer and BPM

		p
			img(src='images/docs/beats-tools.png' alt='Beats tools')
		
		p.
			A set of tools responsible for beats and tempo management. You can find them grouped in the top right area of the main window. From left to right, the #[strong Quantizer] aligns the samples on beats and on exact fractions of beats. It works only when the main sequencer is running. More information in the #[a(href='/documentation-performing-1') Performing part 1] chapter; The #[strong BPM button] changes the speed of your performance; the #[strong Beats/bars button] changes the number of beats and bars of the main sequencer; the #[strong Beat operators] (last two buttons on the right) dynamically shrink or expand the the total number of beats of the main sequencer.

