extends ../base

block metas-vars
	- var title       = 'User Guide - MIDI input management - '
	- var description = ', documentation, user guide, MIDI input management'
	- var keywords    = ', documentation, user guide, MIDI input management'

block content
	section.documentation
		h1.
			User guide<br>MIDI input management
		
		p.
			Giada can receive MIDI messages from the outside world. You can connect a physical device to control channels, volumes, properties, and more. In practice, any source capable of sending MIDI messages can be used to control Giada, including software and scripts.
		
		h2 What you can control with MIDI

		p.
			There are two main classes of elements that can be controlled via MIDI:
		ul
			li.
				#[strong Global elements] — sequencer, metronome, main volumes, and so on. These are stored in the configuration file and only need to be set once;
			li.
				#[strong Per-channel elements] — channel on/off, mute, volume, solo, plug-in parameters (if any), and so on. These are stored in the patch and need to be set for each new song.
		
		h2 How to assign MIDI messages to elements

		p.
			First, make sure you have properly configured your sound card to receive MIDI messages. You can do this in the #[a(href='documentation-configuration') configuration] panel. To configure #[strong global elements], open #[em Edit -&gt; Setup global MIDI input...] and a new window will appear containing all assignable elements.
		p.
			#[img(src='images/docs/midi-input-window.png' alt='Edit menu' title='Edit menu')]
		p.
			From left to right, the first box contains the name of the parameter. The button ("(not set)" in the picture) shows the hexadecimal value currently assigned to that parameter: right-click it to reset the assignment to none. Finally, the #[strong Learn] button enables so-called #[strong MIDI learn]: click it, then move a knob or press any key, and Giada will assign that message to the parameter you selected.
		p.
			To configure #[strong per-channel elements], click a channel's button and select #[em Setup MIDI input...] from the pop-up menu. The window of assignable elements is similar to the previous one, but with different parameters.

		h2 Filtering and processing incoming events

		p.
			By default, Giada accepts messages from any MIDI channel. In some cases, however, you may want it to respond only to messages coming from a specific MIDI channel, especially when working with multiple MIDI instruments. Select a different channel from the #[strong MIDI channel selector] #[img.inline(src='images/docs/midi-channel-filtering.png' alt='MIDI channel selector')] to make Giada process incoming MIDI messages only when they come from the selected channel.

		p.
			You can also let velocity control the volume of #[strong sample channels] by enabling the #[em Velocity drives volume] option. Giada will adjust the sample volume according to how forcefully the key on your MIDI device is pressed. This feature is available only for sample channels in #[strong one-shot] mode.
