extends ../base

block metas-vars
	- var title       = 'User Guide - MIDI output management - '
	- var description = ', documentation, user guide, MIDI output management'
	- var keywords    = ', documentation, user guide, MIDI output management'

block content
	section.documentation
		h1.
			User guide<br>MIDI output management

		p.
			Giada can send MIDI messages to the outside world from both #[strong sample channels] and, of course, #[strong MIDI channels], with some important differences. More precisely, there are two kinds of messages: #[strong regular MIDI messages] and #[strong MIDI lighting messages].
		
		h2 Regular messages vs MIDI lighting messages
		
		p.
			#[strong Regular MIDI messages] are standard MIDI events, namely the events you record with physical devices or edit in the Action Editor. This type of message can be sent only from #[strong MIDI channels]. #[strong MIDI lighting messages], on the other hand, are special codes used to light up parts of external devices, such as buttons, keys, knobs, and other illuminated controls. This second type of message can also be sent from #[strong sample channels].
		p.
			The following table shows what each type of channel can output:
		
		table.table
			tr
				td
				td regular MIDI messages
				td MIDI lighting messages
			tr
				td Sample channel
				td &#x2718;
				td &#x2714;
			tr
				td MIDI channel
				td &#x2714;
				td &#x2714;
		
		h2 Configuring the output
		
		p.
			Click the #[strong main button] of any channel and select #[em Setup MIDI output] from the menu to configure how MIDI messages are sent. A new window will open containing several tools.
		
		h3 Regular MIDI messages
		
		p.
			#[img(src='images/docs/midi-output-config-regular.png' alt='MIDI output config tool, regular')] 
			
		p.
			These messages are managed by the tools shown in the picture above. If you enable #[em MIDI output], MIDI messages are sent outside Giada whenever an action occurs, through the MIDI channel selected in the drop-down menu on the right. This allows you to control external MIDI hardware as well as other software.
		
		h3 MIDI lighting messages
		
		p.
			#[img(src='images/docs/midi-output-config-lightning.png' alt='MIDI output config tool, lightning')]
		
		p.
			MIDI lighting requires a key binding between the application and your physical device, so that whenever an event occurs, Giada sends a MIDI lighting message to the correct part of your controller.
		p.
			You bind controller elements to events through the MIDI learning tool shown in the picture above, which works in the same way as the MIDI input learning tool described in #[a(href='documentation-midi-input-management') MIDI input management].
		p.
			Currently, you can light up your device for the following events:
		ul
			li.
				#[strong playing] events, including #[em start], #[em stop], #[em wait], and #[em ending] statuses;
			li.
				#[strong mute] events such as #[em mute on] and #[em mute off];
			li.
				#[strong solo] events such as #[em solo on] and #[em solo off].
		
		h2 How MIDI lighting works
		
		p.
			Giada needs to know what data to send when MIDI lighting occurs. Since each hardware manufacturer defines its own set of messages, Giada uses #[strong midimap files]. A midimap is a JSON-formatted text file that defines which messages Giada should send. These files are stored in your configuration directory, more precisely:
		ul
			li.
				Linux — #[span.code /home/(your_user)/.config/giada/midimaps/];
			li.
				Mac — #[span.code /Users/(your_user)/Library/Application Support/Giada/midimaps/];
			li.
				Windows — #[span.code C:\Users\(your_user)\AppData\Giada\midimaps\].
		p.
			Giada looks in these directories at startup. If a file is a valid midimap, it will appear in the #[a(href='documentation-configuration') Configuration window], MIDI section. Select the midimap file you want to use from the drop-down menu and you are ready to go.
		
		h2 Anatomy of a midimap file
		
		p.
			A midimap file follows this naming convention: #[span.code (brand)-(device).giadamap], using lowercase text. For example, if you own the #[a(href='http://www.akaipro.com/product/apc20') Akai APC20], the corresponding midimap file would be #[span.code akai-apc20.giadamap].
		p.
			Inside a midimap file you will find a collection of JSON objects. Each midimap command is made of two parts: a #[em channel] and a #[em message]. The following is a complete midimap file with placeholders:
		pre.code.
			{
				"brand": "[text]",
				"device": "[text]",
				"init_commands": [
					{
						"channel": [MIDI-channel],
						"message": "[hex-message]"
					},
					{
						"channel": [MIDI-channel],
						"message": "[hex-message]"
					},
					...
				],
				"mute_on": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"mute_off": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"solo_on": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"solo_off": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"waiting": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"playing": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"stopping": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				},
				"stopped": {
					"channel": [MIDI-channel],
					"message": "[hex-message]"
				}
			}

		p
			The first three elements are the #[em initializers]:
		ul
			li.
				#[strong brand] — the manufacturer name;
			li.
				#[strong device] — the device name;
			li.
				#[strong init_commands] — a set of lighting messages sent on startup.
		p.
			The remaining elements are the #[em events], which define which MIDI lighting message to send when each event occurs.
		
		h2 Writing a MIDI lighting message
		
		p.
			A MIDI lighting message follows this structure:
		pre.code.
			{
				"channel": [MIDI-channel],
				"message": "[hex-message]"
			}
				
		p.
			In detail:
		ul
			li.
				#[strong channel] — the MIDI channel to output to, in the numeric range 0-15;
			li.
				#[strong message] — the actual message to send, in hexadecimal form, 4 bytes long.
		p.
			The hexadecimal message contains a special placeholder for the note. Because each message format is vendor-specific, you must specify where the note byte appears. The placeholder is written as #[span.code nn]; Giada replaces it on the fly once the key has been configured and captured with the MIDI learning tool described earlier. Here are a couple of example lighting messages:
		pre.code.
			{
				"channel": 0,               // MIDI channel 0
				"message": "0x90nn3B00"     // note on byte 2
			},
			{
				"channel": 7,               // MIDI channel 7
				"message": "0x803Bnn00"     // note on byte 3
			},
				
		h2 A complete example of a midimap file
		
		p.
			The following is a midimap file prepared for the #[a(href='http://global.novationmusic.com/launch/launchpad-s') Novation Launchpad S] MIDI controller:
		pre.code.
			{
				"brand": "AKAI",
				"device": "LPD8",
				"init_commands": [
					{
						"channel": 0,
						"message": "0xB0000000"
					},
					{
						"channel": 0,
						"message": "0xB0002800"
					}
				],
				"mute_on": {
					"channel": 0,
					"message": "0x90nn3F00"
				},
				"mute_off": {
					"channel": 0,
					"message": "0x90nn0C00"
				},
				"solo_on": {
					"channel": 0,
					"message": "0x90nn0F00"
				},
				"solo_off": {
					"channel": 0,
					"message": "0x90nn0C00"
				},
				"waiting": {
					"channel": 0,
					"message": "0x90nn7f00"
				},
				"playing": {
					"channel": 0,
					"message": "0x90nn7f00"
				},
				"stopping": {
					"channel": 0,
					"message": "0x90nn7f00"
				},
				"stopped": {
					"channel": 0,
					"message": "0x80nn7f00"
				}
			}
				
		h2 Where do I find midimaps?
		
		p.
			We store the full list of midimap files on GitHub in the #[a(href='https://github.com/monocasual/giada-midimaps') giada-midimaps repository]. Download the ZIP archive and extract it into one of the midimap folders listed above.
		
		p.
			Pull requests and file submissions are absolutely welcome. If your MIDI controller is missing a midimap file, feel free to add it to the collection.