extends ../base

block metas-vars
	- var title       = 'Docs - Performing, part 2 - '
	- var description = ', documentation, Performing, part 2'
	- var keywords    = ', documentation, Performing, part 2'

block content
	.container
		#documentation.row
			.col-md-9
				h1 Performing, part 2
				p
					| In Giada, things usually happen because you have clicked on a channel or pressed its corresponding key (both from keyboard or MIDI device). For example, if you click a 
					strong channel play button
					img.inline(src='images/docs/play-button.png' alt='Play button' title='Play button')
					|  the channel starts to play. However the final behavior might vary, depending on various other factors such as the 
					strong play mode
					|  or the internal channel status.
				p
					| This section is focused on general interactions; more information on each type of channel can be found in 
					a(href='documentation-channels-and-samples') Channels and samples
					|  and 
					a(href='documentation-channels-and-midi') Channels and MIDI
					|  chapters.
				h2 The role of the main sequencer
				p
					img.first(src='images/docs/gui_beat.png' alt='The sequencer (or beat bar)' title='The sequencer (or beat bar)')
					|  The sequencer is the tool that basically handles the live performance. Each cell is a beat and beats are grouped into bars. The number of beat/bars, the speed and the size of the main pattern can be adjusted through the 
					strong beat tools
					img.inline(src='images/docs/beats-tools.png' alt='Beats tools' title='Beats tools')
					| , while 
					strong play/stop
					|  and 
					strong rewind
					|  buttons 
					img.inline(src='images/docs/gui_playstop.png' alt='Play and stop buttons' title='Play and stop buttons')
					|  control the sequencer and its position.
				p
					| When the sequencer is on you are able to play your song, handle some kind of channels, record actions and much more. In particular, it affects:
				ul
					li
						strong sample channels
						|  in 
						strong loop
						|  mode;
					li
						strong sample channels
						|  in 
						strong one shot
						|  mode with actions recorded;
					li
						strong MIDI channels
						| .
				p
					| With the sequencer running you can also benefit from the power of the 
					strong live quantizer
					| , which helps you to align your keystrokes to each beat. On the other hand, when the sequencer is off the channels listed above don't play immediately: they 
					em wait
					|  (the buttons start to blink) until the sequencer starts over from the first beat. You still can operate with:
				ul
					li
						strong sample channels
						|  in 
						strong one shot
						|  mode, with or without actions recorded;
				p
					| and they will play as soon as the corresponding key is pressed. We saw this style of playing in 
					a(href='documentation-performing-1') Performing 1
					| , and we called it 
					strong Giada as a sample player
					| .
				h2 Global interactions
				p
					| The following table shows how can you interact with the various tools of the sequencer.
				table.table
					tr
						th action
						th alternate action
						th effect 1
					tr
					tr
						td
							span.code backspace
						td
							| click on 
							strong rewind
							|  button 
							img.inline(src='images/docs/gui-rewind.png' alt='Rewind button' title='Rewind button')
						td sequencer rewind to beat 1
					tr
						td
							span.code spacebar
						td
							| click on 
							strong play
							|  button 
							img.inline(src='images/docs/gui-play.png' alt='Play button' title='Play button')
						td sequencer start/stop
					tr
						td
							span.code enter
						td
							| click on 
							strong action recorder
							|  button 
							img.inline(src='images/docs/action-recorder-button.png' alt='Action recorder button' title='Action recorder button')
						td action recorder start/stop
					tr
						td
							span.code end
						td
							| click on 
							strong input recorder
							|  button 
							img.inline(src='images/docs/input-recording-button.png' alt='Input recorder button' title='Input recorder button')
						td live sampler start/stop
						
			#side-menu.col-md-3.margin-top-xl
				include side-menu