extends ../base

block metas-vars
	- var title       = 'Docs - Performing, part 1 - '
	- var description = ', documentation, Performing, part 1'
	- var keywords    = ', documentation, Performing, part 1'

block content
	.container
		#documentation.row
			.col-md-9
				h1 Performing, part 1

				p.
					As stated in the previous chapter, Giada is based on the concepts of #[strong channels]. A channel can contain one sample (a #[strong sample channel]) or MIDI events (a #[strong MIDI channel]) and you manage it through some 
					#[strong actions] and #[strong play modes].
				p.
					An #[strong action] could be the pressure of a key, the switch of the mute button and so on. Almost all of them can be recorded during the #[a(href='documentation-recording-actions') action recording] process or manually crafted in the #[a(href='documentation-action-editor') action editor]. 
				p.
					#[strong Play modes] are basically two: #[strong loop] or #[strong one shot] and they define the nature of 
					sample channels. Play modes, behaviors and statuses for each type of channel will be covered thoroughly in #[a(href='documentation-channels-and-samples') Channels and samples] and #[a(href='documentation-channels-and-midi') Channels and MIDI] paragraphs.

				h2 Making music with Giada

				p.
					Giada gives you the ability to play in several ways, described below.
				ul
					li
						p.
							#[strong Giada as a sample player] — channels start to play immediately as their corresponding key is pressed. No further actions are performed. This mode is designed to work in parallel with another stream (e.g. a DJ set);
					li
						p.
							#[strong Giada loop machine!] — each channel contains an element of the song: channel 1 stores drums, channel 2 stores pads, channel 3 stores leads and so on. While the sequencer is running, you launch and stop those channels. You can also overlay effects and other sounds by playing the remaining channels as you would do in the previous method. The quantizer helps you to align those samples to the grid and if you enable the #[a(href='documentation-recording-actions') Action recorder] you can automate a lot of things;
					li
						p.
							#[strong Giada as a song editor] — load up your samples or pick up some virtual instruments (synths, drum machines, ...), then open the #[a(href='documentation-action-editor') Action editor] where you #[em draw] the actions manually, as you would do in any other DAW or pattern editor out there. Then you can play those channels in any of the ways seen before;
					li
						p.
							#[strong Giada as a live sampler] — instead of loading samples from disk, record them from the real world! Those sounds become regular samples that you can use in any of the ways previously discussed.
					li
						p.
							#[strong Giada as an FX processor] — load as many plug-ins as you wish in any channel and send there audio signals or MIDI messages; Giada will process the FXs in realtime, outputting the result directly in your speakers.					
					li
						p.
							#[strong Giada as a MIDI master controller] — fill Giada with actions, enable MIDI out stream and drive any other instrument, both hardware and software, capable of receiving MIDI messages.
				p.
					Of course all of the previous modes can be combined together, according to your style and liking.

			#side-menu.col-md-3.margin-top-xl
				include side-menu