extends ../base

block metas-vars
	- var title       = 'User Guide - Performing, part 2 - '
	- var description = ', documentation, user guide, performing, part 2'
	- var keywords    = ', documentation, user guide, performing, part 2'

block content
	section.documentation
		h1.
			User guide<br>Performing, part 2.

		p.
			In Giada, things usually happen when you click a channel or press its corresponding key, either on your computer keyboard or on a MIDI device. For example, if you click a #[strong channel play button] #[img(src='images/docs/play-button.png' alt='Play button' title='Play button' class='inline')], the channel starts playing. However, the final behavior may vary depending on several other factors, such as the #[strong play mode] or the channel's current internal status.

		p.
			This section focuses on general interactions. More information about each type of channel can be found in the #[a(href='documentation-channels-and-samples') Channels and samples] and #[a(href='documentation-channels-and-midi') Channels and MIDI] chapters.
		
		h2 The role of the main sequencer
		
		p.
			#[img(src='images/docs/gui_beat.png' alt='The sequencer (or beat bar)' title='The sequencer (or beat bar)')] 
		
		p.
			The sequencer is the tool that essentially drives the live performance. Each cell represents a beat, and beats are grouped into bars. The number of beats and bars, the tempo, and the size of the main pattern can be adjusted using the #[strong beat tools] #[img(src='images/docs/beats-tools.png' alt='Beats tools' title='Beats tools' class='inline')], while the #[strong play/stop] and #[strong rewind] buttons #[img(src='images/docs/gui_playstop.png' alt='Play and stop buttons' title='Play and stop buttons' class='inline')] control the sequencer and its position.

		p.
			When the sequencer is running, you can play your song, control certain types of channels, record actions, and much more. In particular, it affects:
		
		ul
			li
				p.
					#[strong sample channels] in #[strong loop] mode;
			li
				p.
					#[strong sample channels] in #[strong one shot] mode with recorded actions;
			li
				p.
					#[strong MIDI channels].
		
		p.
			When the sequencer is running, you can also take advantage of the #[strong live quantizer], which helps align your keystrokes to the beat. On the other hand, when the sequencer is stopped, the channels listed above do not play immediately: they #[em wait] (their buttons start blinking) until the sequencer starts again from the first beat.
			
		p.
			You can still use #[strong sample channels] in #[strong one shot] mode, with or without recorded actions, and they will play as soon as the corresponding key is pressed. We saw this style of playing in #[a(href='documentation-performing-1') Performing 1], where we described it as #[strong Giada as a sample player].

		h2 Global interactions

		p.
			The following table shows how to interact with the main sequencer tools. You can change the default keyboard bindings in the #[a(href='documentation-configuration') Configuration window].
		
		table.table
			tr
				th action
				th alternate action
				th effect 1
			tr
			tr
				td.
					#[span.code backspace]
				td.
					click the #[strong rewind] button #[img(src='images/docs/gui-rewind.png' alt='Rewind button' title='Rewind button' class='inline')]
				td.
					rewind the sequencer to beat 1
			tr
				td.
					#[span.code spacebar]
				td.
					click the #[strong play] button #[img(src='images/docs/gui-play.png' alt='Play button' title='Play button' class='inline')]
				td.
					start/stop the sequencer
			tr
				td.
					#[span.code enter]
				td.
					click the #[strong action recorder] button #[img(src='images/docs/action-recorder-button.png' alt='Action recorder button' title='Action recorder button' class='inline')]
				td.
					start/stop the action recorder
			tr
				td.
					#[span.code end]
				td.
					click the #[strong input recorder] button #[img(src='images/docs/input-recording-button.png' alt='Input recorder button' title='Input recorder button' class='inline')]
				td.
					start/stop the live sampler