extends ../base

block metas-vars
	- var title       = 'User Guide - Recording actions - '
	- var description = ', documentation, user guide, recording actions'
	- var keywords    = ', documentation, user guide, recording actions'

block content
	section.documentation
		h1.
			User guide<br>Recording actions.

		p. 
			An #[strong action] is something you do on a channel. To begin, Giada must be put into #[em action recording mode] by clicking the #[strong record actions button] #[img(src='images/docs/action-recorder-button.png' alt='Record actions button' class='inline')] in the main transport or by pressing the #[span.code enter] key. Giada will then record any gesture coming from your mouse and keyboard, MIDI controllers, or both.

		h2 Actions for sample channels

		p.
			On a sample channel, you can record the following:
		ul
			li key press;
			li key release;
			li sample kill.

		p.
			Once Giada is in action recording mode, sample channels that are available and ready to receive actions turn #[em red]. When you are done, disable action recording mode by clicking the record actions button a second time. Any sample channel with recorded actions will have the #[strong read actions button] #[img(src='images/docs/read-recs-button.png' alt='Read recordings button' class='inline')] enabled: when pressed, the recorded actions for that channel are played back.
		p.
			If you need to remove all actions from a sample channel, click the channel's main button and select #[em Clear actions] from the drop-down menu, or edit them more precisely in the #[a(href='documentation-action-editor') Action Editor].

		h2 Actions for MIDI channels

		p.
			On MIDI channels, you can record any type of MIDI event supported by the #[a(href='documentation-action-editor') Piano Roll Editor]. First, press the #[strong arm button] #[img(src='images/docs/arm-button.png' alt='Arm button' class='inline')], then enable action recording mode and start your performance with your MIDI controller. When you are done, disable action recording mode by clicking the record actions button a second time.
		p.
			Don't worry if you don't see the recorded notes right away: they will appear once recording has stopped.

		p.
			If you need to remove all actions from a MIDI channel, click the channel's main button and select #[em Clear actions] from the drop-down menu, or edit them more precisely in the #[a(href='documentation-action-editor') Action Editor].

		h2 Live effects processor

		p.
			You can also arm one or more MIDI channels without enabling action recording mode. In this case, Giada works as a live effects processor driven by incoming MIDI notes. This is especially useful when you want to play your virtual instruments live through a MIDI controller.
		
		h2 Record on signal

		p.
			Pressing the record actions button also starts the sequencer. In some cases, however, you may want it to wait and start only when the first action is received. This mode is called #[strong record on signal], and you can enable it by clicking the #[strong record on signal button] #[img(src='images/docs/record-on-signal-button.png' alt='Record on signal button' class='inline')] in the main transport.