extends ../base

block metas-vars
	- var title       = 'User Guide - The Sample Editor - '
	- var description = ', documentation, user guide, the Sample Editor'
	- var keywords    = ', documentation, user guide, the Sample Editor'

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/documentation.css` type='text/css')

block content
	section.documentation
		h1.
			User guide<br>The Sample Editor.

		p.
			#[img(src='images/docs/giada-sample-editor.png' alt='The Sample Editor')]
		
		p.
			Giada is shipped with a powerful editor for fine samples manipulation. While the main window provides a fast and basic interaction, inside the Sample Editor you can tweak several parameters such as start/end points, pitch and much more.
		p.
			The Sample Editor also provides some basic tools for cutting, trimming or silencing your sample. Those are destructive actions; if you damage the sample you have to reload it from disk. Don't worry, the damage will occur only in memory; the original file won't be touched!
		p.
			On the lower right corner of the Sample Editor you will find some additional information on the sample currently loaded, such as the original file path, the size (in audio frames), the duration (in seconds), the bit depth and the frequency.

		p.
			You can zoom in and out by clicking on the #[strong Zoom buttons] located on the top-right corner, or by pressing #[code ctrl] (#[code cmd] on macOS) and scrolling up or down with the mouse wheel.
		
		h2 Transport buttons

		p.
			#[img(src='images/docs/sample-editor-preview-buttons.png' alt='Transport buttons')]

		p.
			The transport buttons allow you to listen to the audio sample currently loaded. By checking the #[strong Loop] checkbox the sample will play back in loop. You can also press the #[code spacebar] key to start and stop playing. The playhead can be moved around by clicking on the waveform area.  

		h2 Pitch

		p.
			#[img(src='images/docs/pitch-knob.png' alt='Pitch knob')] 
		p.
			The Pitch knob streches or compresses the sample, making it sound faster or slower. It works exactly as a turntable pitch control slider. You can change the global resampling quality in the #[a(href='documentation-configuration') Configuration Window].
		p.
			You can spread the sample accross the whole song or the current bar by pressing #[strong To song] and #[strong To bar] buttons. Two additional operators, #[strong &times;] and #[strong &div;] will double or halve the sample's duration, while the #[strong Reset] button restores the pitch to 1.0.

		h2 Range

		p.
			#[img(src='images/docs/sample-editor-range-tool.png' alt='Range tool')] 
		p.
			The range tool is used to set the play range of the sample through the begin and end points. Those points are represented in the waveform area by two vertical lines with a square handle: click on that handle and drag it around to set the points quickly, or use the numeric input fields to specify the exact position (in samples). The #[strong Reset] button restores the default configuration.
		
		h2 Shift

		p.
			#[img(src='images/docs/sample-editor-shift-tool.png' alt='Shift tool')] 
		p.
			The shift tool allows you to shift the sample horizontally. This is useful in case you want to make the sample start to a certain position, without spending too much time messing around with cut and paste. The shift value is specified in samples and can takes both positive and negative values.	
		
		h2 Editing operations

		p.
			Select a portion of the waveform with the mouse and click on it with the #[em right button]: a menu will appear, giving you some editing tools:
		ul
			li.
				#[strong Cut] — removes a portion from the sample and store it to memory. It can be pasted later on;
			li.
				#[strong Copy] — stores the selected range in memory, for later paste;
			li.
				#[strong Paste] — pastes the data stored in memory. This option is available also when you right-click on the waveform with no selection, in order to paste to a specific frame;
			li.
				#[strong Trim] — removes all but the selected portion;
			li.
				#[strong Silence] — mutes the selected portion (sets the amplitude to 0);
			li.
				#[strong Reverse] — flips the data in the selected range;
			li.
				#[strong Normalize] — raises the volume of the selected range to 0.0 dB. This operation modifies the actual data: you have to reload the sample from disk in order to restore it to the original state;
			li.
				#[strong Fade in/Fade out] — applies a linear fade in/out;
			li.
				#[strong Smooth edges] — shapes gracefully the edges of a selection;
			li.
				#[strong Set begin/end here] — sets the range to the selection boundaries;
			li.
				#[strong Copy to new channel] — creates a new Sample Channel out of the current selection.
		p.
			Is your sample messed up after the wrong editing? You can reload it from disk by clicking on the #[strong Reload] button #[img.inline(src='images/docs/reload-button.png' alt='Reload button' title='Reload button')].