extends ../base

block metas-vars
	- var title       = 'User Guide - Save and load projects - '
	- var description = ', documentation, user guide, save, load'
	- var keywords    = ', documentation, user guide, save, load'

block content
	section.documentation
		h1.
			User guide<br>Save and load projects.

		p.
			Giada stores songs as #[strong projects]. A project is a folder named #[span.code (project name).gprj] that contains all the samples used in your current song, along with a JSON-based file called #[span.code (project name).gptc] that stores the project data. You can save and load a project from the #[em File] menu in the main menu bar.
		
		p.
			Because a project is just a regular folder in your file system, you can browse it, add new content, and even edit the project file if something goes wrong, although ideally that should never be necessary. You can also create the project file by hand or generate it with a script. Be careful not to delete any files from the folder, or you may end up with missing samples.
		
		p.
			A project is portable: you can save it on one computer and move it to another. Note, however, that audio plug-ins are not stored inside the project, so make sure the required plug-ins are also installed on the target system.

