ol
  li: a(href='documentation-index') Index
  li: a(href='documentation-introduction') Introduction, installation and first run
  li: a(href='documentation-requirements') Requirements
  li: a(href='documentation-compiling-from-source') Compiling from source
  li: a(href='documentation-look-at-the-main-window') A look at the main window
  li: a(href='documentation-performing-1') Performing part 1
  li: a(href='documentation-performing-2') Performing part 2
  li: a(href='documentation-channels-and-samples') Channels and samples
  li: a(href='documentation-channels-and-midi') Channels and MIDI
  li: a(href='documentation-recording-actions') Recording actions
  li: a(href='documentation-live-sampling') Live sampling
  li: a(href='documentation-action-editor') The Action Editor
  li: a(href='documentation-sample-editor') The Sample Editor
  li: a(href='documentation-audio-plugins') Audio plugins
  li: a(href='documentation-midi-input-management') MIDI input management
  li: a(href='documentation-midi-output-management') MIDI output management
  li: a(href='documentation-save-load-export') Save, load, export
  li: a(href='documentation-configuration') Configuration
  li: a(href='documentation-development-git-setup') Development - Git setup